@model GsEPWv8_5_MVC.Model.BillingInquiryModel

@{
    var Ordercount = Model.ListBillRcvdDetails.Count;
    var l_int_inv_amt = string.Empty;
}

@Html.HiddenFor(model => model.tot_inv_strg_amnt, new { @id = "p_strr_cmpid" })


<div class="box-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="col-xs-3" style="left:-21px">
                                <span style="font-size: 1.5em;color:#ff5600;font-weight: bold;text-align:right;padding-left:53px">
                                    Total Records:
                                </span>
                            </div>
                            <div class="col-xs-2" style="left:-163px">
                                <label class="totalCount" style="text-align:left">
                                    @Ordercount
                                </label>
                            </div>
                            <div class="col-xs-3" style="left:-21px">
                                <span style="font-size: 1.5em;color:#ff5600;font-weight: bold;text-align:right;padding-left:53px">
                                    Total Invoice Amount:
                                </span>
                            </div>
                            <div class="col-xs-2" style="left:-163px">
                                <label class="totalCount" style="text-align:left">
                                    @Model.tot_inv_strg_amnt
                                </label>
                            </div>
                        </div>
                    </div>
                    
               

    </div>


    <table id="GrdStrgBillingInq" class="table table-bordered table-striped" style="border:1px solid #121213;">
        <thead class="grid_backcolor">
            <tr>
                <th class="grid_header_backcolor" style="font-size:11px;width:3%;">Print</th>
                <th class="grid_header_backcolor" style="font-size:11px;width:7%;display:none">CmpId</th>
                <th class="grid_header_backcolor" style="font-size:11px;width:7%;">CustId</th>
                <th class="grid_header_backcolor" style="font-size:11px;width:8%;">BlDocId</th>
                <th class="grid_header_backcolor" style="font-size:11px;width:8%;">BlDocDt</th>
                <th class="grid_header_backcolor" style="font-size:11px;width:4%;">Status</th>
                <th class="grid_header_backcolor" style="font-size:11px;width:7%;">BlDtFm</th>
                <th class="grid_header_backcolor" style="font-size:11px;width:8%;">BlDtTo</th>
                <th class="grid_header_backcolor" style="font-size:11px;width:8%;">BillType</th>
                <th class="grid_header_backcolor" style="font-size:11px;width:7%;">Curr</th>
                <th class="grid_header_backcolor" style="font-size:11px;width:11%;display:none">ShipVia</th>
                <th class="grid_header_backcolor" style="font-size:11px;width:6%;">ProdCost</th>
                <th class="grid_header_backcolor" style="font-size:11px;width:6%;">Tax</th>
                <th class="grid_header_backcolor" style="font-size:11px;width:6%;">Frgt</th>
                <th class="grid_header_backcolor" style="font-size:11px;width:7%;">BillAmt</th>
            </tr>
        </thead>
        <tbody style="background-color:rgba(0, 0, 0, 0.12);">
            @for (int i = 0; i < Model.ListBillRcvdDetails.Count; i++)
            {
                int line = i + 1;


                var l_dec_amt = (Model.ListBillRcvdDetails[i].bill_amt);
                var l_dec_prod_cost = (Model.ListBillRcvdDetails[i].prod_cost);
                var l_dec_frgt = (Model.ListBillRcvdDetails[i].frgt_cost);
                var l_dec_tax = (Model.ListBillRcvdDetails[i].frgt_cost);
                var l_dec_Amt = l_dec_amt.ToString("F2");
                var l_dec_prodcost = l_dec_prod_cost.ToString("F2");
                var l_dec_frgt_cost = l_dec_frgt.ToString("F2");
                var l_dec_tax_pcnt = l_dec_tax.ToString("F2");
                <tr style="background-color:white;">
                    <td style="text-align:center"><input class="checkbox" id="chkdd_@i" name="tblcheckbox3" type="checkbox" value="@Model.ListBillRcvdDetails[i].bill_doc_id" /></td>
                    <td style="font-size:10px; color:black; font-weight:bold;text-align:left;display:none">@Model.ListBillRcvdDetails[i].cmp_id</td>
                    <td style="font-size:10px; color:black; font-weight:bold;text-align:left">@Model.ListBillRcvdDetails[i].Cust_ID</td>
                    <td style="font-size:10px; color:black; font-weight:bold;text-align:left">@Model.ListBillRcvdDetails[i].bill_doc_id</td>
                    <td style="font-size:10px; color:black; font-weight:bold;text-align:left">@Model.ListBillRcvdDetails[i].bill_doc_dt</td>
                    <td style="font-size:10px; color:black; font-weight:bold;text-align:left;">@Model.ListBillRcvdDetails[i].Status</td>
                    <td style="font-size:10px; color:black; font-weight:bold;text-align:left;">@Model.ListBillRcvdDetails[i].bill_pd_fm</td>
                    <td style="font-size:10px; color:black; font-weight:bold;text-align:left;">@Model.ListBillRcvdDetails[i].bill_pd_to</td>
                    <td style="font-size:10px; color:black; font-weight:bold;text-align:left;width:60px;">@Model.ListBillRcvdDetails[i].bill_type</td>
                    <td style="font-size:10px; color:black; font-weight:bold;text-align:left;">@Model.ListBillRcvdDetails[i].curr_code</td>
                    <td style="font-size:10px; color:black; font-weight:bold;text-align:left;display:none">@Model.ListBillRcvdDetails[i].ship_via</td>
                    <td style="font-size:10px; color:black; font-weight:bold;text-align:right;">@l_dec_prodcost</td>
                    <td style="font-size:10px; color:black; font-weight:bold;text-align:right;width:60px;">@l_dec_tax_pcnt</td>
                    <td style="font-size:10px; color:black; font-weight:bold;text-align:right">@l_dec_frgt_cost</td>
                    <td style="font-size:10px; color:black; font-weight:bold;text-align:right">@l_dec_Amt</td>
                </tr>
            }
        </tbody>
    </table>



<script>
    $(function(){
        $('#GrdStrgBillingInq').DataTable({
            "pageLength": 10,
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': false,
            'info': false,
            'autoWidth': false,
        });
        $('#GrdStrgBillingInq_paginate').hide();
    })
    
</script>
<script>
    $("#btninoutdtl").click(function () {

           debugger
           var getli = $('#Formatinoutid').find(":selected").text();
           var getli2 = $('#Modeinoutid').find(":selected").text();
           if (getli == 'PDF' && getli2 == 'VIEW') {
               var SelectedRow = [];
               var checkboxIDArray = [];
               var p_str_cmp_id = $('#cmp_id').val();
               var p_str_status = $('#Statuspar').val();
               var type = "PDF";
               var var_name = "BillDocument";
               var p_str_radio = var_name;

               var SelectedRow = [];
               var checkboxIDArray = [];
               var numberOfCheckboxes = $("input[name='tblcheckbox3']:checked").length;
               if (numberOfCheckboxes == 0) {

                   sweetAlert("", "Please select the Record to Print.", "");
               }
               else {
                   $("input[name='tblcheckbox3']:checked").each(function () {
                       var check = $(this);
                       if (check.is(':checked')) {
                           checkboxIDArray.push(check.attr('id'));
                           SelectedRow.push(check.val());


                       }
                   });
                   var Count = $("input[name='tblcheckbox3']:checked").length;
                   if (Count > 0) {
                       var SelectdID = '';
                       $.each(SelectedRow, function (i, v) {

                           if (SelectdID == '')
                               SelectdID = v;
                           else
                               SelectdID = SelectdID + ',' + v;
                       });
                       var p_str_bill_doc_id = SelectdID;
                       $("#ajaxLoadingIBRcvdDtl").show();
                       var p_str_cmp_id = $('#new_cmp_id').val();
                       var p_str_ib_doc_id = $('#ibdocid').val();
                       var p_str_bill_doc_type = "INOUT";
                       var p_str_rpt_status = "OPEN";
                       var p_str_cust_id = "";
                       $.ajax({
                           type: "GET",
                           url: '@Url.Content("~/BillingInquiry/GetBillDocId")',
                           data: {
                               "p_str_cmp_id": p_str_cmp_id, "p_str_cust_id": p_str_cust_id, "p_str_ib_doc_id": p_str_ib_doc_id
                           },
                           dataType: 'html',
                           success: function (e) {
                               $("#bill_doc_id").val(JSON.parse(e));


                               var SelectedRow = [];
                               var checkboxIDArray = [];

                               var p_str_cmp_id = $('#new_cmp_id').val();
                               var p_str_bill_doc_ids = $('#bill_doc_id').val();
                               var p_str_bill_doc_type = "INOUT";
                               var p_str_rpt_status = "OPEN";

                               window.open('GenerateShowReport?p_str_cmp_id=' + p_str_cmp_id + '&p_str_bill_doc_id=' + p_str_bill_doc_ids + '&p_str_bill_doc_type=' + p_str_bill_doc_type + '&p_str_rpt_status=' + p_str_rpt_status
                                                   , 'BillingInquiry', "toolbar=no, scrollbars=yes, resizable=yes, top=200, left=500, width=950, height=700", 'GenerateShowReport?p_str_cmp_id=' + p_str_cmp_id)
                               $("#ajaxLoadingIBRcvdDtl").hide();

                           },
                       })
                   }
               }
           }
            if (getli == 'PDF' && getli2 == 'EMAIL')
            {
                var options = { "backdrop": "static", keyboard: true };
                var TeamDetail = '/BillingInquiry/EmailShowReport';
                var SelectedRow = [];
                var checkboxIDArray = [];
                var p_str_cmp_id = $('#cmp_id').val();
                var p_str_status = $('#Statuspar').val();
                var type = "PDF";
                var var_name = "BillDocument";
                var p_str_radio = var_name;
                var p_str_Bill_type = $('#bill_type').val();
                var p_str_doc_dt_Fr = $('#billperiodfr').val();
                var p_str_doc_dt_To = $('#billperiodTo').val();
                var SelectedRow = [];
                var checkboxIDArray = [];
                var numberOfCheckboxes = $("input[name='tblcheckbox3']:checked").length;
                if (numberOfCheckboxes == 0) {

                    sweetAlert("", "Please select the Record to Print.", "");
                }
                else {
                    $("input[name='tblcheckbox3']:checked").each(function () {
                        var check = $(this);
                        if (check.is(':checked')) {
                            checkboxIDArray.push(check.attr('id'));
                            SelectedRow.push(check.val());


                        }
                    });
                    var Count = $("input[name='tblcheckbox3']:checked").length;
                    if (Count > 0) {
                        var SelectdID = '';
                        $.each(SelectedRow, function (i, v) {

                            if (SelectdID == '')
                                SelectdID = v;
                            else
                                SelectdID = SelectdID + ',' + v;
                        });
                        var p_str_bill_doc_id = SelectdID;
                        $("#ajaxLoadingIBRcvdDtl").show();
                        $.ajax({
                            type: "GET",
                            url: TeamDetail,
                            contentType: "application/json; charset=utf-8",
                            data: {
                                "p_str_radio": p_str_radio, "p_str_cmp_id": p_str_cmp_id, "p_str_bill_doc_id": p_str_bill_doc_id,
                                "p_str_Bill_type": p_str_Bill_type, "p_str_doc_dt_Fr": p_str_doc_dt_Fr, "p_str_doc_dt_To": p_str_doc_dt_To, "SelectdID": SelectdID,
                                "type": type
                            },
                            datatype: "json",
                            success: function (data) {
                                $("#ajaxLoadingIBRcvdDtl").hide();
                                $('#myModalEmailContent').html(data);
                                $('#myModalEmail').modal(options);
                                $('#myModalEmail').modal('show');

                            },
                            error: function () {
                                alert("Dynamic content load failed.");
                                $("#ajaxLoadingIBRcvdDtl").hide();
                            }
                        });

                    }
                }
           }
            if (getli == 'XLS' && getli2 == 'VIEW')
           {
                var p_str_cmp_id = $('#new_cmp_id').val();
                var p_str_ib_doc_id = $('#ibdocid').val();
                var p_str_bill_doc_type = "INOUT";
                var p_str_rpt_status = "OPEN";
                var p_str_cust_id = "";
                $('#ajaxLoadingInoutbillDtl').show()
                $.ajax({
                    type: "GET",
                    url: '@Url.Content("~/BillingInquiry/GetBillDocId")',
                    data: {
                        "p_str_cmp_id": p_str_cmp_id, "p_str_cust_id": p_str_cust_id, "p_str_ib_doc_id": p_str_ib_doc_id
                    },
                    dataType: 'html',
                    success: function (e) {
                        $("#bill_doc_id").val(JSON.parse(e));
                        debugger
                        var type = "Excel"
                        var p_str_radio = "BillDocument";
                        var p_str_cmp_id = $('#new_cmp_id').val();
                        var p_str_Bill_doc_id = $('#bill_doc_id').val();
                        var p_str_Bill_type = $('#INOUT').val();
                        var p_str_doc_dt_Fr = $('#Bill_doc_dt_Fr').val();
                        var p_str_doc_dt_To = $('#Bill_doc_dt_To').val();
                        var SelectdID = $('#bill_doc_id').val();

                        window.location.replace("/BillingInquiry/ShowReport?p_str_radio=" + p_str_radio + '&p_str_cmp_id=' + p_str_cmp_id + '&p_str_Bill_doc_id=' + p_str_Bill_doc_id
                    + '&p_str_Bill_type=' + p_str_Bill_type + '&p_str_doc_dt_Fr=' + p_str_doc_dt_Fr + '&p_str_doc_dt_To=' + p_str_doc_dt_To + '&SelectdID=' + SelectdID + '&type=' + type)
                        $('#ajaxLoadingInoutbillDtl').hide();

                    },
                })

           }
      })

</script>