@model GsEPWv8_5_MVC.Model.OBLoadUploadFileModel


@{
    var Ordercount = Model.ListOBLoadUploadDtl.Count;
    var l_int_error_count = Model.ListOBLoadUploadInvalidData.Count;
    var l_str_error_desc = Model.error_desc;

}
<style>

</style>
<div id="LoadEntryshowgrid" class="box-header" style="padding: 5px; background-color: #eee;border-radius: 5px;">

    <div class="gridSummary">
        <table style="width:100%">
            <tr>
                <td style="width:20%;text-align:right">
                    <span style="font-size: 1.5em;color:#116b42;font-weight: bold;">
                        Total Records:
                    </span>
                    <label class="totalCount" style="text-align:left">
                        @Ordercount
                    </label>
                </td>
                <td style="width:105px;"></td>
                <td style="width:105px;"></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div>

        <table id="GridLoadEntry" class="table table-bordered table-striped" style="border:1px solid #121213 ;width:100%">
            <thead class="grid_backcolor">
                <tr>
                    <th class="grid_header_backcolor" style="width:10%">Batch ID</th>
                    <th class="grid_header_backcolor" style="width:10%">CUST PO#</th>
                    <th class="grid_header_backcolor" style="width:7.5%">DEPT#</th>
                    <th class="grid_header_backcolor" style="width:7.5%">STORE#</th>
                    <th class="grid_header_backcolor" style="width:8%">LOAD NUM</th>
                    <th class="grid_header_backcolor" style="width:12%">LOAD APPROVE DT</th>
                    <th class="grid_header_backcolor" style="width:15%">CARRIER</th>
                    <th class="grid_header_backcolor" style="width:15%">CARRIER PICK DT</th>
                    <th class="grid_header_backcolor" style="width:10%">TOTAL CUBE</th>
                    <th class="grid_header_backcolor" style="width:10%">TOTAL WEIGHT</th>
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < Model.ListOBLoadUploadDtl.Count; i++)
                {
                    <tr>
                        <td style="font-size:12px; color:black; font-weight:bold;text-align:left">
                            @Model.ListOBLoadUploadDtl[i].batch_num
                        </td>
                        <td style="font-size:12px; color:black; font-weight:bold;text-align:left">
                            @Model.ListOBLoadUploadDtl[i].cust_po
                        </td>
                        <td style="font-size:12px; color:black; font-weight:bold;text-align:left">
                            @Model.ListOBLoadUploadDtl[i].dept_id
                        </td>
                        <td style="font-size:12px; color:black; font-weight:bold;text-align:left">
                            @Model.ListOBLoadUploadDtl[i].store_id
                        </td>
                        <td style="font-size:12px; color:black; font-weight:bold;text-align:right">
                            @Model.ListOBLoadUploadDtl[i].load_number
                        </td>
                        <td style="font-size:12px; color:black; font-weight:bold;text-align:left">
                            @Model.ListOBLoadUploadDtl[i].load_approve_dt
                        </td>
                        <td style="font-size:12px; color:black; font-weight:bold;text-align:left">
                            @Model.ListOBLoadUploadDtl[i].carrier_name
                        </td>
                        <td style="font-size:12px; color:black; font-weight:bold;text-align:left">
                            @Model.ListOBLoadUploadDtl[i].load_pick_dt
                        </td>
                        <td style="font-size:12px; color:black; font-weight:bold;text-align:right">
                            @Model.ListOBLoadUploadDtl[i].tot_cube
                        </td>
                        <td style="font-size:12px; color:black; font-weight:bold;text-align:right">
                            @Model.ListOBLoadUploadDtl[i].tot_weight
                        </td>
                    </tr>
                }
            </tbody>
        </table>



    </div>
    <div id="OBLoadErrorGrid" class="box-header" style="padding: 5px; background-color: #eee;border-radius: 5px;">
        <div style="font-size:14px; color:red; font-weight:bold;">
            Load Entry File Upload Error Summary:
            <label id="l_str_error_count" style="text-align:left">
                @l_int_error_count
            </label>
        </div>

        <div>
            <input type="hidden" value="@ViewBag.l_int_error_count" id="l_int_error_count" />
            <input type="hidden" value="@ViewBag.l_str_error_desc" id="l_str_error_desc" />
        </div>

        <br />
        <div>
            <table class="table table-bordered table-striped " style="border:1px solid #121213 ;width:100%" id="GridIB943Error">
                <thead class="grid_backcolor">
                    <tr>
                        <th class="grid_header_backcolor" style="width:10%">Container ID</th>
                        <th class="grid_header_backcolor" style="width:5%">Line#</th>
                        <th class="grid_header_backcolor" style="width:50%">Line Data</th>
                        <th class="grid_header_backcolor" style="width:35%">Error description</th>
                    </tr>
                </thead>

                <tbody>

                    @for (int i = 0; i < Model.ListOBLoadUploadInvalidData.Count; i++)
                    {


                        <tr style="background-color:white;" class="row-select">
                            <td style="font-size:13px; color:red; font-weight:bold; text-align:right ;width:10%">@Model.ListOBLoadUploadInvalidData[i].batch_num</td>
                            <td style="font-size:13px; color:red; font-weight:bold; width:5%">@Model.ListOBLoadUploadInvalidData[i].line_num</td>

                            <td style="font-size:13px; color:red; font-weight:bold; width:50%">@Model.ListOBLoadUploadInvalidData[i].line_data</td>
                            <td style="font-size:13px; color:red; font-weight:bold; width:35%">@Model.ListOBLoadUploadInvalidData[i].error_desc</td>

                        </tr>


                    }

                </tbody>
            </table>
        </div>
    </div>

</div>

<script>


        $(function () {
            $('#GridLoadEntry').DataTable({
                "paging": true,
                "pageLength": 50,
                "lengthChange": true,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": true,
                // "scrollY": "280px",
                "scrollCollapse": true,
                //true
                //"sDom": 't',
                "sScrollY": "360px",
                "sScrollX": "99%",
            })
        })
</script>






