@model GsEPWv8_5_MVC.Model.OBSRLoadInquiryModel
@{
    var Ordercount = Model.ListOBGetSRSummary.Count;
    var l_int_inv_amt = string.Empty;
}
<div class="box-body">
    <div class="box-header">
        <fieldset>
            <legend style="text-align:left;">Load Entry</legend>
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-1" style="width: 12.5%;text-align: right;">
                        <label class="Lblmanual">Load Number</label>
                    </div>
                    <div class="col-xs-1" style="width: 12.5%;padding-bottom: 1%;">
                        @Html.TextBoxFor(model => model.load_number, new { @id = "le_load_number", @class = "form-control txtlbl", @maxlength = "30" })
                    </div>
                    <div class="col-xs-1" style="width: 12.5%;text-align: right;">
                        <label class="Lblmanual">Approved Date</label>
                    </div>
                    <div class="col-xs-1" style="width: 12.5%;padding-bottom: 1%;">
                        @Html.TextBoxFor(model => model.load_approve_dt, "{0:MM/dd/yyyy}", new { @id = "le_load_approve_dt", @class = "form-control txtlbl", @maxlength = "10" })
                    </div>
                    <div class="col-xs-1" style="width: 12.5%;text-align: right;">
                        <label class="Lblmanual">BOL Number</label>
                    </div>
                    <div class="col-xs-1" style="width: 12.5%;padding-bottom: 1%;">
                        @Html.TextBoxFor(model => model.bol_number, new { @id = "le_bol_number", @class = "form-control txtlbl", @maxlength = "30" })
                    </div>
                    <div class="col-xs-1" style="width: 12.5%;text-align: right;">
                        <label class="Lblmanual">Special Instructions</label>
                    </div>
                    <div class="col-xs-1" style="width: 12.5%;padding-bottom: 1%;">
                        @Html.TextBoxFor(model => model.spcl_inst, new { @id = "le_spcl_inst", @class = "form-control txtlbl", @maxlength = "50" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-1" style="width: 12.5%;text-align: right;">
                        <label class="Lblmanual">Load Pick Date</label>
                    </div>
                    <div class="col-xs-1" style="width: 12.5%;padding-bottom: 1%;">
                        @Html.TextBoxFor(model => model.load_pick_dt, "{0:MM/dd/yyyy}", new { @id = "le_load_pick_dt", @class = "form-control txtlbl", @maxlength = "10" })
                    </div>
                    <div class="col-xs-1" style="width: 12.5%;text-align: right;">
                        <label class="Lblmanual">Carrier Name</label>
                    </div>
                    <div class="col-xs-1" style="width: 12.5%;padding-bottom: 1%;">
                        @Html.TextBoxFor(model => model.carrier_name, new { @id = "le_carrier_name", @class = "form-control txtlbl", @maxlength = "50" })
                    </div>
                    <div class="col-xs-1" style="width: 12.5%;text-align: right;">
                        <label class="Lblmanual">Trailer Number</label>
                    </div>
                    <div class="col-xs-1" style="width: 12.5%;padding-bottom: 1%;">
                        @Html.TextBoxFor(model => model.trailer_num, new { @id = "le_trailer_num", @class = "form-control txtlbl", @maxlength = "50" })
                    </div>
                    <div class="col-xs-1" style="width: 12.5%;text-align: right;">
                        <label class="Lblmanual">Seal Number(s)</label>
                    </div>
                    <div class="col-xs-1" style="width: 12.5%;padding-bottom: 1%;">
                        @Html.TextBoxFor(model => model.seal_num, new { @id = "le_seal_num", @class = "form-control txtlbl", @maxlength = "50" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-1" style="width: 12.5%;text-align: right;">
                        <label class="Lblmanual">Note:</label>
                    </div>
                    <div class="col-xs-11" style="width: 87.5%;padding-bottom: 1%;">
                        @Html.TextBoxFor(model => model.load_note, new { @id = "le_load_note", @class = "form-control txtlbl ", @maxlength = "1000" })
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="box-body">
    <div class="box-header">
        <fieldset>
            <legend style="text-align:left;">  Ship To Address<label class="Lblmanual"> </legend> 
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-1" style="width: 9%;text-align: right;">
                        <label class="Lblmanual">Mail Name</label>
                    </div>
                    <div class="col-xs-1" style="width: 15%;padding-bottom: 1%;">
                        @Html.TextBoxFor(model => model.st_mail_name, new { @id = "le_st_mail_name", @class = "form-control txtlbl", @maxlength = "50" })
                    </div>
                    <div class="col-xs-1" style="width: 8%;text-align: right;">
                        <label class="Lblmanual">Addr1</label>
                    </div>
                    <div class="col-xs-1" style="width: 20%;padding-bottom: 1%;">
                        @Html.TextBoxFor(model => model.st_addr_line1, new { @id = "le_st_addr_line1", @class = "form-control txtlbl", @maxlength = "50" })
                    </div>
                    <div class="col-xs-1" style="width: 8%;text-align: right;">
                        <label class="Lblmanual">Addr2</label>
                    </div>
                    <div class="col-xs-1" style="width: 20%;padding-bottom: 1%;">
                        @Html.TextBoxFor(model => model.st_addr_line2, new { @id = "le_st_addr_line2", @class = "form-control txtlbl", @maxlength = "50" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-1" style="width: 8%;text-align: right;">
                        <label class="Lblmanual">City</label>
                    </div>
                    <div class="col-xs-1" style="width: 12%;padding-bottom: 1%;">

                        @Html.TextBoxFor(model => model.st_city, new { @id = "le_st_city", @class = "form-control txtlbl", @maxlength = "30" })
                    </div>
                    <div class="col-xs-1" style="width: 8%;text-align: right;">
                        <label class="Lblmanual">Country</label>
                    </div>
                    <div class="col-xs-1" style="width: 12%;padding-bottom: 1%;">
                        @Html.DropDownListFor(model => model.st_cntry_id, new SelectList(Model.ListCntryPick, "Cntry_Id", "Countrydtl"), new { @id = "le_st_cntry_id", @class = "form-control txtlbl", @style = "font-weight: bold;font - size: 12px; font-family: verdana; width: 180px;background-color:lightyellow;" })

                    </div>
                    <div class="col-xs-1" style="width: 8%;text-align: right;">
                        <label class="Lblmanual">Zipcode</label>
                    </div>
                    <div class="col-xs-1" style="width: 12%;padding-bottom: 1%;">
                        @Html.TextBoxFor(model => model.st_post_code, new { @id = "le_st_post_code", @class = "form-control txtlbl numericOnly", @maxlength = "25", @onkeypress = "OnlyNumeric(this);" })
                    </div>
                    <div class="col-xs-1" style="width: 8%;text-align: right;">
                        <label class="Lblmanual">State</label>
                    </div>
                    <div class="col-xs-1" style="width: 12%;padding-bottom: 1%;">
                        @Html.DropDownListFor(model => model.st_state_id, new SelectList(Model.ListStatePick, "State_ID", "statedtl"), new { @id = "le_st_state_id", @class = "form-control txtlbl", @style = "font-weight: bold;font-size: 12px; font-family: verdana; width: 130px;background-color:lightyellow;" })
                    </div>

                </div>
            </div>
        </fieldset>
    </div>
</div>

<div class="box-body">
    <div class="box-header">
        <fieldset>
            <legend style="text-align:left;">Total Summary :</legend>

            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-1" style="width: 8%;text-align: right;">
                        <label class="Lblmanual">Total Ctns:</label>
                    </div>
                    <div class="col-xs-1" style="width: 12%;padding-bottom: 1%;">

                        @Html.TextBoxFor(model => model.grant_tot_ctns, new { @id = "le_tot_ctns", @disabled = "true",  @class = "form-control txtlbl numericOnly", @maxlength = "10" })
                    </div>
                    <div class="col-xs-1" style="width: 8%;text-align: right;">
                        <label class="Lblmanual">Total Cube </label>
                    </div>
                    <div class="col-xs-1" style="width: 12%;padding-bottom: 1%;">
                        @Html.TextBoxFor(model => model.grant_tot_cube, new { @id = "le_tot_cube", @disabled = "true",  @class = "form-control txtlbl numericOnly", @maxlength = "10", @onkeypress = "OnlyNumeric(this);" })
                    </div>
                    <div class="col-xs-1" style="width: 8%;text-align: right;">
                        <label class="Lblmanual">Total Weight </label>
                    </div>
                    <div class="col-xs-1" style="width: 12%;padding-bottom: 1%;">
                        @Html.TextBoxFor(model => model.grant_tot_weight, new { @id = "le_tot_weight", @disabled = "true", @class = "form-control txtlbl numericOnly", @maxlength = "10", @onkeypress = "OnlyNumeric(this);" })
                    </div>
                    <div class="col-xs-1" style="width: 8%;text-align: right;">
                        <label class="Lblmanual">Total Pallet :</label>
                    </div>
                    <div class="col-xs-1" style="width: 12%;padding-bottom: 1%;">
                        @Html.TextBoxFor(model => model.tot_palet, new { @id = "le_tot_palet", @class = "form-control txtlbl numericOnly", @maxlength = "10", @onkeypress = "OnlyNumeric(this);" })
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>

    <div class="box-body">
   
        <div>
            <table id="GrdLoadEntryInq" class="table table-bordered table-striped" style="border:1px solid #121213;">
                <thead class="grid_backcolor">
                    <tr>
                        <th class="grid_header_backcolor" style="font-size:11px;width:5%;">SelectAll <input class="checkbox" id="chkSelectAll" name="tblcheckboxselect" type="checkbox" /></th>
                        <th class="grid_header_backcolor" style="font-size:11px;width:10%;">Batch#</th>
                        <th class="grid_header_backcolor" style="font-size:11px;width:10%;">SR#</th>
                        <th class="grid_header_backcolor" style="font-size:11px;width:10%;">SR Date</th>
                        <th class="grid_header_backcolor" style="font-size:11px;width:15%;">Customer</th>
                        <th class="grid_header_backcolor" style="font-size:11px;width:10%;">Cust Order#</th>
                        <th class="grid_header_backcolor" style="font-size:11px;width:10%;">Order Number</th>
                        <th class="grid_header_backcolor" style="font-size:11px;width:10%;">Ctns(s)</th>
                        <th class="grid_header_backcolor" style="font-size:11px;width:10%;">Weight</th>
                        <th class="grid_header_backcolor" style="font-size:11px;width:10%;">Cube</th>

                    </tr>
                </thead>

                <tbody style="background-color:rgba(0, 0, 0, 0.12);">

                 @for (int i = 0; i < Model.ListOBGetSRSummary.Count; i++)
                 {
                     int line = i + 1;

                     var l_int_ctns = (Model.ListOBGetSRSummary[i].tot_ctns);
                     var l_int_weight = (Model.ListOBGetSRSummary[i].tot_weight);
                     var l_int_cube = (Model.ListOBGetSRSummary[i].tot_cube);



                    <tr style="background-color:white;">
                        <td style="text-align:center"><input class="checkbox" id="chkdd_@i" name="tblcheckboxLoadEntry" type="checkbox" value="@Model.ListOBGetSRSummary[i].so_num" checked="checked" /></td>
                        <td style="font-size:10px; color:black; font-weight:bold;text-align:left">@Model.ListOBGetSRSummary[i].batch_num</td>
                        <td style="font-size:10px; color:black; font-weight:bold;text-align:left">@Model.ListOBGetSRSummary[i].so_num</td>
                        <td style="font-size:10px; color:black; font-weight:bold;text-align:left">@Model.ListOBGetSRSummary[i].so_dt</td>
                        <td style="font-size:10px; color:black; font-weight:bold;text-align:left;">@Model.ListOBGetSRSummary[i].cust_name</td>
                        <td style="font-size:10px; color:black; font-weight:bold;text-align:left;">@Model.ListOBGetSRSummary[i].cust_ordr_num</td>
                        <td style="font-size:10px; color:black; font-weight:bold;text-align:left;">@Model.ListOBGetSRSummary[i].ordr_num</td>
                        @*<td style="font-size:10px; color:black; font-weight:bold;text-align:right;width:60px;">@l_int_ctns</td>
                        <td style="font-size:10px; color:black; font-weight:bold;text-align:right">@l_int_weight</td>
                        <td style="font-size:10px; color:black; font-weight:bold;text-align:right">@l_int_cube</td>*@

                        <td style="font-size:10px; color:black; font-weight:bold;text-align:right;width:60px;">@Model.ListOBGetSRSummary[i].tot_ctns</td>
                        <td style="font-size:10px; color:black; font-weight:bold;text-align:right">@Model.ListOBGetSRSummary[i].tot_weight</td>
                        <td style="font-size:10px; color:black; font-weight:bold;text-align:right">@Model.ListOBGetSRSummary[i].tot_cube</td>

                    </tr>
                 }
                </tbody>
            </table>
        </div>
    </div>


<script>

    $("input[name=chkAll").click(function () {
        if ($(this).prop("checked") == true) {

            $("input[name='tblcheckboxLoadEntry']").prop("checked", true);
        }
        else if ($(this).prop("checked") == false) {

            $("input[name='tblcheckboxLoadEntry']").prop("checked", false);
        }

    });



    $("input[name='tblcheckboxLoadEntry']").click(function () {

        if ($("input[name='tblcheckboxLoadEntry']").length == $("input[name='tblcheckboxLoadEntry']:checked").length) {
            $("#chkAll").prop("checked", true);
        }
        else {
            $("#chkAll").prop("checked", false);
        }

    });
    $("input[name='tblcheckbox']").on('change', function () {
        $("input[name='tblcheckboxLoadEntry']").not(this).prop('checked', false);
    });
</script>
<script>

</script>
<script>

    $('#chkSelectAll').click(function (event) {
        if ($(this).is(":checked")) {
            $('.checkbox').each(function () {
                $(this).prop("checked", true);
            });
        }
        else {
            $('.checkbox').each(function () {
                $(this).prop("checked", false);
            });
        }
    });

    $('#le_so_dt_from').datetimepicker({
        timepicker: false,
        step: 15, format: 'm/d/Y'
    });
    $('#le_so_dt_to').datetimepicker({
        timepicker: false,
        step: 15, format: 'm/d/Y'
    });

    $('#le_load_approve_dt').datetimepicker({
        timepicker: false,
        step: 15, format: 'm/d/Y'
    });

    $('#le_load_pick_dt').datetimepicker({
        timepicker: false,
        step: 15, format: 'm/d/Y'
    });



</script>