

@model GsEPWv8_5_MVC.Model.LocationMasterModel
@{
    var Ordercount = Model.ListLocationMasterDetails.Count;
}
<style>
    .ItemGridSummary {
        height: 49px;
        background: #d2d6de;
        padding-top: 10px;
    }
    .LocViewDetail,.LocDeleteDetail,.LocEditDetail
    {
        padding:0px 5px;
    }
</style>
<div class="box-body">
    <div class="row">
        <div class="ItemGridSummary">
            <table>
                <tr>
                    <td style="width: 5%;"></td>
                    <td style="width:22%;">
                        <span style="font-size: 1.5em;color:#116b42;font-weight: bold;">
                            Total Records:
                        </span>
                        <label class="totalCount" style="text-align:left">
                            @Ordercount
                        </label>
                    </td>

                </tr>
            </table>
        </div>
    </div>
    <br />
    <div style="overflow-x:auto; height:auto; width:auto;">
        <table id="GridLocationMasterPartial" class="table table-bordered table-striped" style="border:1px solid #121213;">

            <thead class="grid_backcolor">
                <tr>

                    <th class="grid_header_backcolor" style="font-size:11px;width:8%">WhsId</th>
                    <th class="grid_header_backcolor" style="font-size:11px;width:10%">LocId</th>
                    <th class="grid_header_backcolor" style="font-size:11px;width:10%">Type</th>
                    <th class="grid_header_backcolor" style="font-size:11px;width:17%">LocDesc</th>
                    <th class="grid_header_backcolor" style="font-size:11px;width:10%">Action</th>
                    <th class="grid_header_backcolor" style="font-size:11px;width:8%">Status</th>
                    <th class="grid_header_backcolor" style="font-size:11px;width:40%">Note</th>
                </tr>
            </thead>
            <tbody style="background-color:white">
                @for (int i = 0; i < Model.ListLocationMasterDetails.Count; i++)
            {
                    <tr>
                       
                        <td style="font-size:11px; color:black; font-weight:bold;">@Model.ListLocationMasterDetails[i].whs_id</td>
                        <td style="font-size:11px; color:black; font-weight:bold;">@Model.ListLocationMasterDetails[i].loc_id</td>      
                        <td style="font-size:11px; color:black; font-weight:bold;">@Model.ListLocationMasterDetails[i].loc_type</td> 
                        <td style="font-size:11px; color:black; font-weight:bold;">@Model.ListLocationMasterDetails[i].loc_desc</td>
                        <td>
                            <a href="javascript:void(0);" style="text-decoration:underline;color:#59822c;" class="LocViewDetail" data-cmp_id="@Model.ListLocationMasterDetails[i].cmp_id" 
                               data-whs_id="@Model.ListLocationMasterDetails[i].whs_id" data-loc_id="@Model.ListLocationMasterDetails[i].loc_id" data-loc_desc="@Model.ListLocationMasterDetails[i].loc_desc" data-status="@Model.ListLocationMasterDetails[i].status" data-note="@Model.ListLocationMasterDetails[i].note"
                               data-length="@Model.ListLocationMasterDetails[i].length" data-width="@Model.ListLocationMasterDetails[i].width" 
                               data-depth="@Model.ListLocationMasterDetails[i].depth" data-cube="@Model.ListLocationMasterDetails[i].cube" data-loc_type="@Model.ListLocationMasterDetails[i].loc_type" ><span class="glyphicon glyphicon-zoom-in icon-white" style="font-size: 18px;"></span><b>View</b></a>
                            <a href="javascript:void(0);" style="text-decoration:underline;color: blue;" class="LocEditDetail" data-cmp_id="@Model.ListLocationMasterDetails[i].cmp_id"
                                data-whs_id="@Model.ListLocationMasterDetails[i].whs_id" data-loc_id="@Model.ListLocationMasterDetails[i].loc_id" 
                               data-loc_desc="@Model.ListLocationMasterDetails[i].loc_desc" data-status="@Model.ListLocationMasterDetails[i].status" data-note="@Model.ListLocationMasterDetails[i].note"
                               data-length="@Model.ListLocationMasterDetails[i].length" data-width="@Model.ListLocationMasterDetails[i].width" data-depth="@Model.ListLocationMasterDetails[i].depth"
                                data-cube="@Model.ListLocationMasterDetails[i].cube"  data-loc_type="@Model.ListLocationMasterDetails[i].loc_type"><span class="glyphicon glyphicon-pencil" style="font-size: 18px;"></span><b>Edit</b></a>
                            <a href="javascript:void(0);" style="text-decoration:underline;color: red;" class="LocDeleteDetail" data-cmp_id="@Model.ListLocationMasterDetails[i].cmp_id" 
                               data-whs_id="@Model.ListLocationMasterDetails[i].whs_id" data-loc_id="@Model.ListLocationMasterDetails[i].loc_id" data-loc_desc="@Model.ListLocationMasterDetails[i].loc_desc" data-status="@Model.ListLocationMasterDetails[i].status" data-note="@Model.ListLocationMasterDetails[i].note"
                               data-length="@Model.ListLocationMasterDetails[i].length" data-width="@Model.ListLocationMasterDetails[i].width" data-depth="@Model.ListLocationMasterDetails[i].depth" 
                               data-cube="@Model.ListLocationMasterDetails[i].cube"  data-loc_type="@Model.ListLocationMasterDetails[i].loc_type"><span class="glyphicon glyphicon-trash" style="font-size: 18px;"></span><b>Del</b></a>
                        </td>
                        <td style="font-size:11px; color:black; font-weight:bold;">@Model.ListLocationMasterDetails[i].status</td>
                        <td style="font-size:11px; color:black; font-weight:bold;">@Model.ListLocationMasterDetails[i].note</td>
                      
                    </tr>
                }

            </tbody>

        </table>
    </div>
</div>
<div id='myModalAddLocation' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content" style="width: 150%; left:-365px;">
            <div id='myModalContentAddLocation' style="width: 100%; height:600px;"></div>
        </div>
    </div>

</div>
<div id='myModalEditLocation' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content" style="width: 150%; left:-365px;">
            <div id='myModalContentEditLocation' style="width: 100%; height: 600px;"></div>
        </div>
    </div>

</div>
<div id='myModalDelLocation' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content" style="width: 150%; left:-365px;">
            <div id='myModalContentDelLocation' style="width: 100%; height: 600px;"></div>
        </div>
    </div>

</div>
<div id='myModalViewLocation' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content" style="width: 150%; left:-365px;">
            <div id='myModalContentViewLocation' style="width: 100%; height: 600px;"></div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $('#GridLocationMasterPartial').DataTable({
        "paging": true,
        "pageLength": 50,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": true,
        "scrollCollapse": true,
        "sScrollY": "460px",
        "sScrollX": "100%",

    });
    $('#GridLocationMasterPartial_paginate').hide();


    $(".LocEditDetail").click(function () {
        var TeamDetailPostBackLocEditURL = '/LocationMaster/LocationMasterDetailEditView';
       
        var $buttonClicked = $(this);
        debugger
        var p_str_cmp_id = $buttonClicked.attr('data-cmp_id');
        var p_str_whs_id = $buttonClicked.attr('data-whs_id');
        var p_str_loc_id = $buttonClicked.attr('data-loc_id');
        var p_str_loc_desc = $buttonClicked.attr('data-loc_desc');
        var p_str_Status = $buttonClicked.attr('data-status');
        var p_str_note = $buttonClicked.attr('data-note');
        var p_str_length = $buttonClicked.attr('data-length');
        var p_str_width = $buttonClicked.attr('data-width');
        var p_str_depth = $buttonClicked.attr('data-depth');
        var p_str_cube = $buttonClicked.attr('data-cube');
        var p_str_loc_type = $buttonClicked.attr('data-loc_type');
        var option = "2";
        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            type: "GET",
            url: TeamDetailPostBackLocEditURL,
            contentType: "application/json; charset=utf-8",
            data: {
                "p_str_cmp_id": p_str_cmp_id, "p_str_whs_id": p_str_whs_id, "p_str_loc_id": p_str_loc_id, "p_str_loc_desc": p_str_loc_desc, "p_str_Status": p_str_Status,
                "p_str_note": p_str_note, "p_str_length": p_str_length, "p_str_width": p_str_width, "p_str_depth": p_str_depth, "p_str_cube": p_str_cube, "option": option,
                "p_str_loc_type": p_str_loc_type
            },
            datatype: "json",
            success: function (data) {//CR-180421-001 Added By Nithya
                debugger;                    
                $('#myModalContentEditLocation').html(data);
                $('#myModalEditLocation').modal(options);
                $('#myModalEditLocation').modal('show');
            },
            error: function () {
                swal("", "Dynamic content load failed.", "");
            }
        });
    });
    $("#closbtn").click(function () {
        $('#myModal').modal('hide');
    });

    $(".LocDeleteDetail").click(function () {
        var TeamDetailPostBackLocDelURL = '/LocationMaster/LocationMasterDetailEditView';

        var $buttonClicked = $(this);
        debugger
        var p_str_cmp_id = $buttonClicked.attr('data-cmp_id');
        var p_str_whs_id = $buttonClicked.attr('data-whs_id');
        var p_str_loc_id = $buttonClicked.attr('data-loc_id');
        var p_str_loc_desc = $buttonClicked.attr('data-loc_desc');
        var p_str_Status = $buttonClicked.attr('data-status');
        var p_str_note = $buttonClicked.attr('data-note');
        var p_str_length = $buttonClicked.attr('data-length');
        var p_str_width = $buttonClicked.attr('data-width');
        var p_str_depth = $buttonClicked.attr('data-depth');
        var p_str_cube = $buttonClicked.attr('data-cube');
        var p_str_loc_type = $buttonClicked.attr('data-loc_type');
        var option = "3";
        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            type: "GET",
            url: TeamDetailPostBackLocDelURL,
            contentType: "application/json; charset=utf-8",
            data: {
                "p_str_cmp_id": p_str_cmp_id, "p_str_whs_id": p_str_whs_id, "p_str_loc_id": p_str_loc_id, "p_str_loc_desc": p_str_loc_desc,
                "p_str_Status": p_str_Status, "p_str_note": p_str_note, "p_str_length": p_str_length, "p_str_width": p_str_width,
                "p_str_depth": p_str_depth, "p_str_cube": p_str_cube, "option": option, "p_str_loc_type": p_str_loc_type
            },
            datatype: "json",
            success: function (data) {//CR-180421-001 Added By Nithya
                debugger;
                $('#myModalContentDelLocation').html(data);
                $('#myModalDelLocation').modal(options);
                $('#myModalDelLocation').modal('show');
            },
            error: function () {
                swal("", "Dynamic content load failed.", "");
            }
        });
    });
    $("#closbtn").click(function () {
        $('#myModal').modal('hide');
    });

    $(".LocViewDetail").click(function () {
        var TeamDetailPostBackLocViewURL = '/LocationMaster/LocationMasterDetailEditView';

        var $buttonClicked = $(this);
        debugger
        var p_str_cmp_id = $buttonClicked.attr('data-cmp_id');
        var p_str_whs_id = $buttonClicked.attr('data-whs_id');
        var p_str_whs_name = $buttonClicked.attr('data-whs_name');
        var p_str_loc_id = $buttonClicked.attr('data-loc_id');
        var p_str_loc_desc = $buttonClicked.attr('data-loc_desc');
        var p_str_Status = $buttonClicked.attr('data-status');
        var p_str_note = $buttonClicked.attr('data-note');
        var p_str_length = $buttonClicked.attr('data-length');
        var p_str_width = $buttonClicked.attr('data-width');
        var p_str_depth = $buttonClicked.attr('data-depth');
        var p_str_cube = $buttonClicked.attr('data-cube');
        var p_str_loc_type = $buttonClicked.attr('data-loc_type');
        var option = "4";               
        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            type: "GET",
            url: TeamDetailPostBackLocViewURL,
            contentType: "application/json; charset=utf-8",
            data: {
                "p_str_cmp_id": p_str_cmp_id, "p_str_whs_id": p_str_whs_id, "p_str_loc_id": p_str_loc_id, "p_str_loc_desc": p_str_loc_desc,
                "p_str_Status": p_str_Status, "p_str_note": p_str_note, "p_str_length": p_str_length, "p_str_width": p_str_width,
                "p_str_depth": p_str_depth, "p_str_cube": p_str_cube, "option": option, "p_str_loc_type": p_str_loc_type
            },
            datatype: "json",
            success: function (data) {//CR-180421-001 Added By Nithya
                debugger;
                $('#myModalContentViewLocation').html(data);
                $('#myModalViewLocation').modal(options);
                $('#myModalViewLocation').modal('show');
            },
            error: function () {
                swal("", "Dynamic content load failed.", "");
            }
        });
    });
    $("#closbtn").click(function () {
        $('#myModal').modal('hide');
    });

</script>

