<div>
    @model GsEPWv8_5_MVC.Model.OBCtnLblPrntModel
@{
    var lintStyleCount = Model.ListlblCtnStyle.Count();
}
@Html.Hidden("lintStyleCount", lintStyleCount)
@Html.HiddenFor(model => model.cmp_id)
@Html.HiddenFor(model => model.so_num)
<style type="text/css">
    div#table-Details {
        border: 10px solid white;
        box-shadow: 0px 0px 15px;
    }
</style>
<style>
    div#ajaxLoadingLabelPrint {
        display: none;
        width: 100px;
        height: 100px;
        position: fixed;
        top: 40%;
        left: 53%;
        text-align: center;
        margin-left: -50px;
        margin-top: -100px;
        z-index: 2;
        overflow: auto;
    }
</style>
<script>
    $(document).ready(function () {
        //var myHid = $('#EmailMessage').val(EmailMsg);

    });
</script>
<link href="~/Scripts/ManualSheets/jquery-ui.css" rel="stylesheet" />
<div class="modal-header">
    <center><h4 class="modal-title" id="myModalLabel" style="color:white;font-weight:800;">Label Carton Print</h4></center>
</div>
<div id="ajaxLoadingLabelPrint" style="display:none;"><img src="~/Images/ajax-loader.gif" /></div>

<div>
    <br />
    <table align="right" style="margin-top:0px; ">

        <tr>
            <td style="text-align: right;width:10%">
                <label class="Lblmanual">Label Layout</label>
            </td>
            <td style="padding-left: 5px;width:15%">
                @Html.DropDownListFor(model => model.LstCtnLabelPrint[0].lbl_layout, new SelectList(Model.ListLblLayout, "name", "description"), new { @class = "form-control txtlbl", @maxlength = "20", @style = "font-weight: bold;width:250px;background-color:lightyellow;", @id = "a_lbl_layout" })
            </td>

            <td style="text-align: right;width:10%">
                <label class="Lblmanual">Label Format</label>
            </td>
            <td style="padding-left: 5px;width:15%">
                @Html.DropDownListFor(model => model.LstCtnLabelPrint[0].lbl_format, new SelectList(Model.ListLblFormat, "name", "description"), new { @class = "form-control txtlbl", @maxlength = "10", @style = "font-weight: bold;width:180px;background-color:lightyellow;", @id = "a_lbl_format" })
            </td>

            @*<td style="padding-left: 20px; color: #e81994;font-size: 1.5em;padding-bottom:8px;"><input type="radio" value="SigleLbl" name="chkLbl" checked /><b>  Thermal Print (Single Label)</b></td>
                <td style="padding-left: 50px;font-size: 1.5em; color: #e81994;padding-bottom: 8px;"><input type="radio" value="MutyLbl" name="chkLbl" /><b> Laser Print (Six Lables)</b></td>*@

            <td><button type="button" id="btnGenerateLabels" class="btn-Close" style="float:right;background-color: #00c0ef;">Print Label</button></td>
            <td><button type="button" class="btn_mclose" data-dismiss="modal" aria-hidden="true" style="float:right;">Close</button></td>
        </tr>

    </table>




</div>
<br />
<hr />


<div class="box-body">
    <div class="box-header">
        <div class="container">
            <div style="border: 1px solid #ada8a8;margin-top:-33px;">
                <table>
                    <tr>

                        <td style="width:13%; text-align:right;">
                            <b style="font-size: 14px;">Cmp Id:</b>
                        </td>
                        <td style="padding-bottom: 10px;padding-left: 10px;">
                            @Html.TextBoxFor(model => model.LstCtnLabelPrint[0].cmp_id, new { @id = "txtCmpId", @class = "form-control", required = "required", @maxlength = "10", @style = "Font-weight:bold; width: 956px; height:40px;" })
                        </td>


                    </tr>
              
                    <tr>
                        <td style="width:13%; text-align:right;">
                            <b style="font-size: 14px;">Ship From </b>
                        </td>
                        <td style="padding-bottom: 10px;padding-left: 10px;">
                            @Html.TextBoxFor(model => model.LstCtnLabelPrint[0].ship_from, new { @id = "txtShipFromName", @class = "form-control", @maxlength = "50", @style = "Font-weight:bold; width: 956px; height:40px;" })
                        </td>


                    </tr>
                    <tr>
                        <td style="width:13%; text-align:right;">
                            <b style="font-size: 14px;">Ship From C/O:</b>
                        </td>
                        <td style="padding-bottom: 10px;padding-left: 10px;">
                            @Html.TextBoxFor(model => model.LstCtnLabelPrint[0].ship_from_cmp, new { @id = "txtShipFromNameCmp", @class = "form-control", @maxlength = "50", @style = "Font-weight:bold; width: 956px; height:40px;" })
                        </td>


                    </tr>
                    <tr>
                        <td style="width:13%; text-align:right;">
                            <b style="font-size: 14px;">From Address:</b>
                        </td>
                        <td style="padding-bottom: 10px;padding-left: 10px;">
                            @Html.TextBoxFor(model => model.LstCtnLabelPrint[0].ship_from_addr1, new { @id = "txtShipFromAddr1", @class = "form-control", @maxlength = "50", @style = "Font-weight:bold; width: 956px; height:40px;" })
                        </td>


                    </tr>
                    @*<tr>
                        <td style="width:13%; text-align:right;">
                            <b style="font-size: 14px;">From Address:</b>
                        </td>
                        <td style="padding-bottom: 10px;padding-left: 10px;">
                            @Html.TextBoxFor(model => model.LstCtnLabelPrint[0].ship_from_addr2, new { @id = "txtShipFromAddr2", @class = "form-control", @maxlength = "50", @style = "Font-weight:bold; width: 956px; height:40px;" })
                        </td>


                    </tr>*@


                    <tr>
                        <td style="width:13%; text-align:right;">
                            <b style="font-size: 14px;">Ship To#:</b>
                        </td>
                        <td style="padding-bottom: 10px;padding-left: 10px;">
                            @Html.TextBoxFor(model => model.LstCtnLabelPrint[0].ship_to, new { @id = "txtShipToMailName", @class = "form-control", @maxlength = "50", @style = "Font-weight:bold; width: 956px; height:40px;" })
                        </td>

                    </tr>
                    <tr>
                        <td style="width:13%; text-align:right;">
                            <b style="font-size: 14px;">Store:</b>
                        </td>
                        <td style="padding-bottom: 10px;padding-left: 10px;">
                            @Html.TextBoxFor(model => model.LstCtnLabelPrint[0].store_id, new { @id = "a_store_id", @class = "form-control", @maxlength = "10", @style = "Font-weight:bold; width: 956px; height:40px;" })
                        </td>

                    </tr>
                    <tr>
                        <td style="width:13%; text-align:right;">
                            <b style="font-size: 14px;">Ship To Address:</b>
                        </td>
                        <td style="padding-bottom: 10px;padding-left: 10px;">
                            @Html.TextBoxFor(model => model.LstCtnLabelPrint[0].ship_to_addr1, new { @id = "txtShipToAddr1", @class = "form-control", @maxlength = "50", @style = "Font-weight:bold; width: 956px; height:40px;" })
                        </td>

                    </tr>
                    <tr>
                        <td style="width:13%; text-align:right;"></td>
                        <td style="width: 75%; padding-left: 1%;">
                            @Html.TextBoxFor(model => model.LstCtnLabelPrint[0].ship_to_addr2, new { @id = "txtShipToAddr2", @class = "form-control", @maxlength = "50", @style = "Font-weight:bold; width: 956px; height:40px;" })
                        </td>

                    </tr>

                    <tr>
                        <td style="width:13%; text-align:right;">
                            <b style="font-size: 14px;">SR#:</b>
                        </td>
                        <td style="padding-bottom: 10px;padding-left: 10px;">
                            @Html.TextBoxFor(model => model.LstCtnLabelPrint[0].so_num, new { @id = "txtSRNum", @class = "form-control", @maxlength = "10", @style = "Font-weight:bold; width: 956px; height:40px;" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:13%; text-align:right;">
                            <b style="font-size: 14px;">Order#:</b>
                        </td>
                        <td style="padding-bottom: 10px;padding-left: 10px;">
                            @Html.TextBoxFor(model => model.LstCtnLabelPrint[0].ordr_num, new { @id = "txtSoNum", @class = "form-control", @maxlength = "20", @style = "Font-weight:bold; width: 956px; height:40px;" })
                        </td>

                    </tr>

                    <tr>
                        <td style="width:13%; text-align:right;">
                            <b style="font-size: 14px;">PO#:</b>
                        </td>
                        <td style="padding-bottom: 10px;padding-left: 10px;">
                            @Html.TextBoxFor(model => model.LstCtnLabelPrint[0].cust_ordr_num, new { @id = "txtPONum", @class = "form-control", @maxlength = "20", @style = "Font-weight:bold; width: 956px; height:40px;" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:13%; text-align:right;">
                            <b style="font-size: 14px;">Dept:</b>
                        </td>
                        <td style="padding-bottom: 10px;padding-left: 10px;">
                            @Html.TextBoxFor(model => model.LstCtnLabelPrint[0].dept_id, new { @id = "a_dept_id", @class = "form-control", @maxlength = "10", @style = "Font-weight:bold; width: 956px; height:40px;" })
                        </td>

                    </tr>

                   <tr>
                       <td style="width:13%; text-align:right;">
                           <b style="font-size: 14px;"> </b>
                       </td>
                       <td style="width:13%; text-align:left;">
                           <label><b class="Lblmanual">Store Ready </b></label>
                           @Html.CheckBoxFor(model => model.store_ready)&nbsp;&nbsp;&nbsp;
                           <label><b class="Lblmanual">Pre Tickted </b></label>
                           @Html.CheckBoxFor(model => model.pre_ticketed)
                       </td>
                   </tr>

                  
                
                  
                    <tr>
                        <td style="width:13%; text-align:right;">
                            <b style="font-size: 14px;">No of Ctns#:</b>
                        </td>
                        <td style="padding-bottom: 10px;padding-left: 10px;">
                            @Html.TextBoxFor(model => model.LstCtnLabelPrint[0].tot_ctns, new { @id = "txtCtns", @class = "form-control", @maxlength = "4", @style = "Font-weight:bold; width: 956px; height:40px;" })
                        </td>
                    </tr>

                    <tr>
                        <td style="width:13%; text-align:right;">
                            <b style="font-size: 14px;">Country of Orgin</b>
                        </td>
                        <td style="padding-bottom: 10px;padding-left: 10px;">
                            @Html.TextBoxFor(model => model.LstCtnLabelPrint[0].country_of_orgin, new { @id = "a_country_of_orgin", @class = "form-control", @maxlength = "20", @style = "Font-weight:bold; width: 956px; height:40px;" })
                        </td>
                    </tr>


                    <tr>
                        <td colspan="2">
                            <table id="GridStyleList" class="table table-bordered table-striped" style="border:1px solid #121213;">
                                <thead class="grid_backcolor">
                                    <tr>
                                        <th class="grid_header_backcolor">Select</th>
                                        <th class="grid_header_backcolor">Style</th>
                                        <th class="grid_header_backcolor">PPK</th>
                                        <th class="grid_header_backcolor">Ctns</th>

                                    </tr>
                                </thead>
                                <tbody style="background-color:rgba(0, 0, 0, 0.12);">


                                    @for (int i = 0; i < Model.ListlblCtnStyle.Count; i++)
                                    {
                                        int line = i + 1;
                                        <tr>
                                            <td style="text-align:center"><input class="checkbox" id="chkStyle_@i" name="chkStyle" checked type="checkbox" /></td>

                                            <td style="font-size:12px; color:black; font-weight:bold;text-align:left;">@Html.TextBoxFor(model => model.ListlblCtnStyle[i].itm_num, new { @id = "itm_num_" + i, @disabled = "true", @style = "width:200px;text-align:left;background-color:lightyellow;", @rowId = @i })</td>
                                            <td style="font-size:12px; color:black; font-weight:bold;text-align:left;">@Html.TextBoxFor(model => model.ListlblCtnStyle[i].itm_qty, new { @class = "AlocQty numericOnly", @id = "itm_qty_" + i, @style = "width:150px;text-align:left;background-color:lightyellow;", @rowId = @i })</td>
                                            <td style="font-size:12px; color:black; font-weight:bold;text-align:left;">@Html.TextBoxFor(model => model.ListlblCtnStyle[i].ordr_ctns, new { @class = "AlocCtns numericOnly", @id = "ordr_ctns_" + i, @style = "width:150px;text-align:left;background-color:lightyellow;", @rowId = @i })</td>

                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>

                </table>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript">
    $('#btnGenerateLabels').click(function () {
        debugger
        //$("#ajaxLoadingLabelPrint").show();


        var var_sel_lbl = $("input[name='chkLbl']:checked").val();

        var lintSelectedRecs = $("input[name='chkStyle']:checked").length;
        var lintStyleCount = $("#lintStyleCount").val();
        var lbl_layout = $("#a_lbl_layout").val();
        if (lbl_layout == 'TJX') {
            if (lintSelectedRecs == 0) {
                swal("", "No Records selected.", "");
                return false;
            }

            else if ($("#a_country_of_orgin").val() == '') {
                swal("", "Please Enter Country of Orgin", "");
                return false;
            }
            else {
                var ItemDetails = new Array();
                var totCtns = 0;
                for (var i = 0; i < lintStyleCount; i++) {
                    debugger

                    var l_str_is_selected = false;
                    var l_chkbox = "chkStyle_" + i;
                    var element = document.getElementById(l_chkbox);
                    if (typeof (element) != 'undefined' && element != null) {
                        var l_str_is_selected = document.getElementById(l_chkbox).checked;
                    }
                    else {
                        l_str_is_selected = false;
                    }


                    if (l_str_is_selected) {
                        var itm_num = $("#itm_num_" + i).val();
                        var itm_qty = $("#itm_qty_" + i).val();
                        var ordr_ctns = $("#ordr_ctns_" + i).val();
                        totCtns = totCtns + parseInt( $("#ordr_ctns_" + i).val());
                        var ItemDetail = {};
                        ItemDetail.itm_num = itm_num;
                        ItemDetail.itm_qty = itm_qty;
                        ItemDetail.ordr_ctns = ordr_ctns;
                        ItemDetails.push(ItemDetail);

                    }
                }

                var main_tot_ctns = $("#txtCtns").val()

                if (totCtns != main_tot_ctns)
                {
                    swal("", "Total Cartons Not matched", "");
                    return false;
                }


            }

        }
        var store_ready = $('#store_ready').is(':checked');
        var pre_ticketed = $('#pre_ticketed').is(':checked');

        var OBCtnLblPrnt = {
            cmp_id: $("#txtCmpId").val(),
            so_num: $("#so_num").val(),
            ship_from: $("#txtShipFromName").val(),
            ship_from_cmp: $("#txtShipFromNameCmp").val(),
            ship_from_addr1: $("#txtShipFromAddr1").val(),
            //ship_from_addr2: $("#txtShipFromAddr2").val(),
            ship_from_addr2: '',
            ship_to: $("#txtShipToMailName").val(),
            ship_to_addr1: $("#txtShipToAddr1").val(),
            ship_to_addr2: $("#txtShipToAddr2").val(),
            cust_ordr_num: $("#txtPONum").val(),
            ordr_num: $("#txtSoNum").val(),
            tot_ctns: $("#txtCtns").val(),
            lbl_per_page: $("input[name='chkLbl']:checked").val(),
            lbl_layout: $("#a_lbl_layout").val(),
            lbl_format: $("#a_lbl_format").val(),
            store_id: $("#a_store_id").val(),
            dept_id: $("#a_dept_id").val(),
            store_ready :store_ready,
            pre_ticketed :pre_ticketed,
            ListlblCtnStyle: ItemDetails,
            country_of_orgin: $("#a_country_of_orgin").val(),
            
        }
        if ($('#txtCmpId').val() == '') {
            $('#txtCmpId').css('border-color', 'red');
            sweetAlert("", "Please Select Company", "");
            return false;

        }

        if ($('#so_num').val() == '') {
            $('#so_num').css('border-color', 'red');
            sweetAlert("", "Please Enter SR#", "");
            return false;

        }

        if ($('#txtShipFromName').val() == '') {
            $('#txtShipFromName').css('border-color', 'red');
            sweetAlert("", "Please Enter Ship From", "");
            return false;

        }
        if ($('#txtShipFromAddr1').val() == '') {
            $('#txtShipFromAddr1').css('border-color', 'red');
            sweetAlert("", "Please Enter Ship From Address1", "");
            return false;

        }

        if ($('#txtShipFromAddr2').val() == '') {
            $('#txtShipFromAddr2').css('border-color', 'red');
            sweetAlert("", "Please Enter Ship From Address2", "");
            return false;

        }

        if ($('#txtShipToMailName').val() == '') {
            $('#txtShipToMailName').css('border-color', 'red');
            sweetAlert("", "Please Enter Ship To Mail Name", "");
            return false;

        }

        if ($('#txtShipToAddr1').val() == '') {
            $('#txtShipToAddr1').css('border-color', 'red');
            sweetAlert("", "Please Enter Ship To Address1", "");
            return false;

        }

        if ($('#txtShipToAddr2').val() == '') {
            $('#txtShipToAddr2').css('border-color', 'red');
            sweetAlert("", "Please Enter Ship To Address2", "");
            return false;

        }

        if ($('#txtPONum').val() == '') {
            $('#txtPONum').css('border-color', 'red');
            sweetAlert("", "Please Enter PO#", "");
            return false;

        }
        if ($('#txtSoNum').val() == '') {
            $('#txtSoNum').css('border-color', 'red');
            sweetAlert("", "Please Enter SO#", "");
            return false;

        }

        if ($('#txtCtns').val() == '') {
            $('#txtCtns').css('border-color', 'red');

            sweetAlert("", "Please Enter Ctn(s)", "");
            //$("#ajaxLoadingLabelPrint").show();
            return false;

        }

        if ($('#txtCtns').val() == '0') {
            $('#txtCtns').css('border-color', 'red');

            sweetAlert("", "Please Enter Ctn(s)", "");
            //$("#ajaxLoadingLabelPrint").hide();
            return false;

        }


            //if ($('#txtCtns').val() == '') {
            //    $('#txtCtns').css('border-color', 'red');
            //    return false;
            //    $("#ajaxLoadingLabelPrint").hide();
            //}

            //if ($('#txtCtns').val() == '0') {
            //    $('#txtCtns').css('border-color', 'red');

            //    return false;
            //    $("#ajaxLoadingLabelPrint").hide();
            //}


        else {

            $.ajax({
                url: '@Url.Action("GenerateCtnLabels", "OutboundInq")',
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                cache: false,
                dataType: "json",
                data: JSON.stringify(OBCtnLblPrnt),
                success: function (data) {
                    var ext = data.split('.').pop();
                    var fileNameIndex = data.lastIndexOf("/") + 1;
                    var filename = data.substr(fileNameIndex);
                    window.open('@Url.Action("DocumentUpload")?path=' + data + '&ext=' + ext + '&filename=' + filename, "_blank", "scrollbars=yes, resizable=yes, top=200, left=500, width=950, height=700");
                    $("#ajaxLoadingLabelPrint").hide();
                    sweetAlert("", "Label Printed Successfully", "");
                    $('#myModalLabelPrint').modal('hide');
                }
            });
        }
    })


</script>














</div>