@model GsEPWv8_5_MVC.Model.UserProfileModel
@{
    ViewBag.Title = "UserAccount";
    Layout = null;;
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Scripts/Style/CommonStyleSheet.css" rel="stylesheet" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link href="~/Scripts/DateTimePicker/jquery.datetimepicker.css" rel="stylesheet" />
<link rel="stylesheet" href="~/plugins/datatables/dataTables.bootstrap.css">
<link href="~/Scripts/ManualSheets/jquery-ui.css" rel="stylesheet" />
<link href="~/Scripts/AutoComplete/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
<link href="~/Scripts/sweetalert.css" rel="stylesheet" />
<script src="~/plugins/jQueryUI/jquery-ui.js"></script>
<link href="~/plugins/select2/select2.min.css" rel="stylesheet" />
<script src="~/plugins/select2/select2.min.js"></script>
<script src="~/Scripts/sweetalert.js"></script>
<style>
    .ui-widget-header {
        border: 1px solid #dddddd;
        background: #f39c12;
        color: #007fff;
        font-weight: bold;
    }

    .ScreenTitle {
        padding-left: 40px;
        font-size: 18px;
        font-family: Verdana;
        font-weight: bold;
        padding-top: 13px;
    }

    div#ajaxLoading {
        display: none;
        width: 100px;
        height: 100px;
        position: fixed;
        top: 30%;
        left: 56%;
        text-align: center;
        margin-left: -50px;
        margin-top: -100px;
        z-index: 2;
        overflow: auto;
    }

    .ErrorBorder {
        border: red solid 1px !important;
    }

    .sweet-alert {
        background-color: #8cd6f7;
        width: 478px;
        padding: 17px;
        border-radius: 5px;
        text-align: center;
        position: fixed;
        left: 50%;
        top: 50%;
        margin-left: -256px;
        margin-top: -200px;
        overflow: hidden;
        display: none;
        z-index: 2000;
    }

    .btn-primary {
        background-color: #3c8dbc;
        border-color: #367fa9;
        width: 57px;
        height: 52px;
        color: #fff;
        font-size: 20px;
    }

    .text-muted {
        color: #777;
    }

    .lead {
        font-size: 24px;
    }

    .btn {
        border-radius: 3px;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid transparent;
    }

    .btn-danger {
        background-color: #dd4b39;
        border-color: #d73925;
        width: 49px;
        height: 47px;
        color: #fff;
        font-size: 20px;
    }

    .btn {
        border-radius: 3px;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid transparent;
    }
</style>
<html>
<body style="background:aliceblue;">
    <div class="box-header">
        <div class="col-xs-12">
            <div class="container">
                <table>
                    <tr>
                        <td>
                            <label style="color:#4343bf; display:inline-block;font-size:20px;font-weight:bold;font-family:Verdana;margin-bottom:9px;">WELCOME TO  @System.Configuration.ConfigurationManager.AppSettings["AppWelcome"].ToString() </label>
                            <br />
                            <br />
                            <br />
                            <label style="color:Green;font-size:15px;font-family:Verdana;margin-bottom: 9px;margin-left: 20px;font-weight:bold">@Html.DisplayFor(model => model.Show_day)</label>
                        </td>
                        <td>
                            <a href=@System.Configuration.ConfigurationManager.AppSettings["CompanyWebLink"].ToString() target="_blank"><img src=@System.Configuration.ConfigurationManager.AppSettings["CompanyLogo"].ToString() width="250" height="60" style="margin-bottom:16px;margin-left:462px"></a>
                        </td>
                        <td style="text-align:right; margin-right:0px;">
                            <a href="http://www.gensoftcorp.com" target="_blank"><img src="../Images/gslogo.png" style="height:45px; width:160px;margin-left: 100px;"></a>
                            <a href="http://www.gensoftcorp.com" target="_blank" style="display:inline-block;width:100%; margin-right:384px;color:#0f29ec"><b>Powered By Gensoft Corp</b></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div style="border-bottom: 8px solid #0094ff;"></div>
    <div style="border-bottom:2px solid #ff3700;"></div>
    <div>
        @using (Html.BeginForm("UserProfile", "UserProfile", FormMethod.Post, new { @id = "form", @class = "col-xs-12", @enctype = "multipart/form-data" }))
        {
        <div>
            <table style="width: 100%;">
                <tr>
                    <td style="padding-top: 13px;width:10%;">
                        <a href="#" id="btnLogin">
                            <b style="font-size:15px;text-decoration: underline;">Back to LoginPage</b>
                            <i class="fa-fa-dashboard"></i>
                        </a>
                    </td>
                    <td style="width: 18%" class="ScreenTitle">
                        Change Password
                    </td>
                </tr>
            </table>
        </div>
        <div id="ajaxLoading" style="display:none;"><img src="~/Images/ajax-loader.gif" /></div>
        <div class="box box-default">
            <div class="box-header with-border" style="background-color:#1357d0; padding:5px;height:57px">
                <h6 class="box-title" style="color:white;font-size:15px; font-weight: bolder;">Filter Details</h6>

            </div>

            <div class="box-body">
                <div class="box-header">
                    <div class="container">

                        <div style="width:63%;margin-left:374px">
                            <center>
                                <table>
                                    <tr>

                                        <td style="text-align: right; width:5%;">
                                            <label><b class="Lblmanual">Old Password:</b></label>
                                        </td>
                                        <td style="width: 8%; padding-left: 1%;padding-bottom:1%;">
                                            @Html.TextBoxFor(model => model.old_pwd, new { @class = "form-control txtlbl", @maxlength = "20", @id = "txt_e_old_pwd", placeholder = "Password", @type = "password" })
                                        </td>
                                        <td style="text-align: right; width: 3%;"></td>
                                        <td style="width: 7%; padding-left: 1%;"></td>

                                    </tr>
                                    <tr>

                                        <td style="text-align: right;width:5%;">
                                            <label><b class="Lblmanual">New Password:</b></label>
                                        </td>
                                        <td style="width: 8%; padding-left: 1%;padding-bottom:1%;">
                                            @Html.TextBoxFor(model => model.new_pwd, new { @class = "form-control txtlbl", @maxlength = "20", @id = "txt_e_new_pwd", placeholder = "Password", @type = "password" })
                                        </td>
                                        <td style="text-align: right; width: 3%;"></td>
                                        <td style="width: 7%; padding-left: 1%;"></td>
                                    </tr>
                                    <tr>

                                        <td style="text-align: right;width:5%;">
                                            <label><b class="Lblmanual">Confirm Password:</b></label>
                                        </td>
                                        <td style="width: 8%; padding-left: 1%;padding-bottom:1%;">
                                            @Html.TextBoxFor(model => model.cnfrm_pwd, new { @class = "form-control txtlbl", @maxlength = "20", @id = "txt_e_cnfrm_pwd", placeholder = "Password", @type = "password" })
                                        </td>
                                        <td style="text-align: right; width: 3%;"></td>
                                        <td style="width: 7%; padding-left: 1%;"></td>
                                    </tr>
                                </table>

                            </center>
                        </div>
                        <br />
                        <table>
                            <tr>
                                <td style="width:74%; "></td>
                                <td> <button type="button" id="btnChangePassword" class="btn_NewEntry">Change Password</button></td>
                                <td><button type="reset" id="btnClear" class="btn-Clear" style="margin-left: 1%;">Clear </button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
         

 </div>
        }
   </div>
    <script>
        $("#btnChangePassword").click(function () {
            debugger
            $("#ajaxloading").show();
            var l_str_old_pwd = $('#txt_e_old_pwd').val();
            var l_str_new_pwd = $('#txt_e_new_pwd').val();
            var l_str_cnfrm_pwd = $('#txt_e_cnfrm_pwd').val();
            if (l_str_old_pwd == "") {
                swal("", "Please Enter the Old Password", "");
                $('#txt_e_old_pwd').focus();
                $('body,html').animate({ scrollTop: 0 }, 0);
                er = 1;
                return false;
            }

            if (l_str_new_pwd == "") {
                swal("", "Please Enter the New Password", "");
                $('#txt_e_new_pwd').focus();
                $('body,html').animate({ scrollTop: 0 }, 0);
                er = 1;
                return false;
            }
            if (l_str_cnfrm_pwd == "") {
                swal("", "Please Enter the Confirm Password", "");
                $('#txt_e_cnfrm_pwd').focus();
                $('body,html').animate({ scrollTop: 0 }, 0);
                er = 1;
                return false;
            }
            if (l_str_old_pwd == l_str_new_pwd) {
                swal("", "Old Password and New Password matched.Please Change the New Password", "");
                $('#txt_e_new_pwd').focus();
                $('#txt_e_new_pwd').val('');
                $('#txt_e_cnfrm_pwd').val('');
                $('body,html').animate({ scrollTop: 0 }, 0);
                er = 1;
                return false;
            }
            if (l_str_new_pwd != l_str_cnfrm_pwd) {
                swal("", "New Password and Confirm Password does not match.", "");
                $('#txt_e_new_pwd').focus();
                $('#txt_e_new_pwd').val('');
                $('#txt_e_cnfrm_pwd').val('');
                $('body,html').animate({ scrollTop: 0 }, 0);
                er = 1;
                return false;
            }
            $.ajax({
                type: "GET",
                url: '@Url.Content("~/UserProfile/UserIDCheckExist")',
                data: { "l_str_old_pwd": l_str_old_pwd, "l_str_cnfrm_pwd": l_str_cnfrm_pwd },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (e) {
                    if (e == 1) {
                        $.ajax({
                            type: "GET",
                            url: '@Url.Content("~/UserProfile/UpdateUserAccountPassword")',
                            data: { "l_str_old_pwd": l_str_old_pwd, "l_str_cnfrm_pwd": l_str_cnfrm_pwd },
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (e) {
                                $('#txt_e_old_pwd').val('');
                                $('#txt_e_new_pwd').val('');
                                $('#txt_e_cnfrm_pwd').val('');
                                swal({
                                    title: "",
                                    text: "Password Changed Successfully Please Relogin again.",
                                    type: "",
                                    showCancelButton: false,
                                    confirmButtonClass: "btn-danger",
                                    confirmButtonText: "Ok",
                                    closeOnConfirm: true

                                },

                          function () {
                              debugger
                              setTimeout(function () {
                                  debugger
                                  var url = '@Url.Action("Logout", "Login")';
                                  window.location.href = url;


                              });
                          });
                            }
                        })
                    }

                    else {
                        swal("", "Please Check the Details", "");
                        $('#txt_e_old_pwd').val('');
                        $('#txt_e_new_pwd').val('');
                        $('#txt_e_cnfrm_pwd').val('');
                    }
                }
            })
        });

    $("#btnLogin").click(function () {
        var url = '@Url.Action("Logout", "Login")';
        window.location.href = url;

    })


    </script>
</body>
</html>