
@model GsEPWv8_5_MVC.Model.StockChangeModel

@{
    ViewBag.Title = "Stock Move By Container/IB Doc Id";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="~/plugins/datatables/dataTables.bootstrap.css">
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Scripts/Style/CommonStyleSheet.css" rel="stylesheet" />
<link href="~/Scripts/DateTimePicker/jquery.datetimepicker.css" rel="stylesheet" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link href="~/Scripts/ManualSheets/jquery-ui.css" rel="stylesheet" />
<link href="~/Scripts/AutoComplete/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
<link href="~/Scripts/sweetalert.css" rel="stylesheet" />
@Html.HiddenFor(model => model.tmp_cmp_id, new { @id = "g_str_tmp_cmp_id" })
<style>
    div#ajaxLoading {
        display: none;
        width: 100px;
        height: 100px;
        position: fixed;
        top: 40%;
        left: 56%;
        text-align: center;
        margin-left: -50px;
        margin-top: -100px;
        z-index: 2;
        overflow: auto;
    }

    .ItemSummary {
        height: 49px;
        background: #d2d6de;
    }
</style>
<style>
    fieldset {
        margin: 8px;
        border: 1px solid silver;
        padding: 8px;
        border-radius: 4px;
    }

    legend {
        padding: 2px;
    }
</style>
<style type="text/css">
    fieldset {
        /*margin: 8px;*/
        border: 1px solid silver;
        padding: 8px;
        border-radius: 4px;
    }

    legend {
        padding: 2px;
    }

    legend {
        display: block;
        width: 100%;
        padding: 0;
        margin-bottom: 0px;
        font-size: 14px;
        line-height: inherit;
        color: #e81994;
        border: 0;
        font-weight: bold;
        /*border-bottom: 1px solid #e5e5e5;*/
    }

    .btn-danger {
        background-color: red;
        border-color: red;
    }

        .btn-danger:hover {
            background-color: red;
            border-color: red;
        }

    .sweet-alert {
        background-color: #8cd6f7; /*//CR20180531 Added by nithya*/ /*#f1e9e9;*/
        width: 478px;
        padding: 17px;
        border-radius: 5px;
        text-align: center;
        position: fixed;
        left: 50%;
        top: 50%;
        margin-left: -256px;
        margin-top: -200px;
        overflow: hidden;
        display: none;
        z-index: 2000;
    }

    .btn-default {
        background-color: #009685;
        color: white;
        border-color: #009685;
    }

        .btn-default:hover {
            background-color: #009685;
            color: white;
            border-color: #009685;
        }

    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 12px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }

    .ScreenTitle {
        padding-left: 40px;
        font-size: 18px;
        font-family: Verdana;
        font-weight: bold;
        padding-top: 13px;
    }

    .ui-autocomplete li {
        font-size: 12px;
        line-height: 30px;
        color: darkblue;
        font-family: Verdana;
        font-weight: bold;
        background-color: lightcyan;
    }

    .text-muted {
        color: black;
    }
</style>

<div>
    <table style="width: 100%;">
        <tr>
            <td style="padding-top: 13px;width:10%;">
                @if (System.Configuration.ConfigurationManager.AppSettings["CompanyWebLink"].ToString() == "3plpro.gensoftcorp.com")
                {
                    <a href="/DashBoard/DashBoard" id="btnDashboard">
                        <b style="font-size:15px;text-decoration: underline;">Dashboard</b>
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                }
                @if (System.Configuration.ConfigurationManager.AppSettings["CompanyWebLink"].ToString() == "3plecom.gensoftcorp.com")
                {
                    <a href="/ECommDashBoard/ECommDashBoard" id="btnDashboard">
                        <b style="font-size:15px;text-decoration: underline;">Dashboard</b>
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                }
                @if (System.Configuration.ConfigurationManager.AppSettings["CompanyWebLink"].ToString() == "3plb2b.gensoftcorp.com")
                {
                    <a href="/DashBoardB2B/DashBoardB2B" id="btnDashboard">
                        <b style="font-size:15px;text-decoration: underline;">Dashboard</b>
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                }
            </td>
            <td style="width: 60%" class="ScreenTitle">
                Inventory - Stock Move By Container/IBDocId

            </td>
            <td style="padding-top: 11px;width:30%;text-align:right">
                @if (System.Configuration.ConfigurationManager.AppSettings["CompanyWebLink"].ToString() == "3plpro.gensoftcorp.com")
                {
                    <button type="button" id="btnClose" class="btn-Close">Close</button>
                }
                @if (System.Configuration.ConfigurationManager.AppSettings["CompanyWebLink"].ToString() == "3plecom.gensoftcorp.com")
                {
                    <button type="button" id="btnCloseecom" class="btn-Close">Close</button>
                }
                @if (System.Configuration.ConfigurationManager.AppSettings["CompanyWebLink"].ToString() == "3plb2b.gensoftcorp.com")
                {
                    <button type="button" id="btnCloseB2B" class="btn-Close">Close</button>
                }
            </td>
        </tr>
    </table>
</div>
<div id="ajaxLoading" style="display:none;"><img src="~/Images/ajax-loader.gif" /></div>
<div class="box box-default" style="box-shadow: 0 1px 1px white;">
    <div class="box-header with-border" style="background-color:#1357d0; padding:5px; ">
        <h6 class="box-title" style="color:white;font-size:16px; font-weight: bolder;">Filter Details</h6>
        <div class="box-tools">

            <input type="button" class="btn btn-box-tool" style="color:white;font-size:11px; font-weight:bold;" value="(Click to hide...)" onclick="return change(this);" data-widget="collapse" title="(Click to hide...)" />

        </div>
    </div>
    <div class="box box-default">
        <div class="box-header">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <table style="width:100%;border-collapse: separate;border-spacing: 0px 0.5em;    ">
                            <tr>
                                <td style="width: 9%;text-align: right;">
                                    <label><b class="Lblmanual">Cmp Id </b></label>
                                </td>
                                @Html.HiddenFor(model => model.p_str_company)


                                @Html.HiddenFor(model => model.p_str_cmpid)
                                <td style="width: 38%; padding-left: 1%;">
                                    @if (Model.cmp_id == "" || Model.cmp_id == null)
                                    {
                                        @Html.DropDownListFor(model => model.cmp_id, new SelectList(Model.ListCompanyPickDtl, "cmp_id", "cmp_name"), "---Select All---", new { @class = "form-control txtlbl" })

                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(model => model.cmp_id, new SelectList(Model.ListCompanyPickDtl, "cmp_id", "cmp_name"), new { @class = "form-control txtlbl" })
                                    }
                                </td>
                                <td style="text-align: right; width: 6%;">
                                    <label><b class="Lblmanual">IB Doc Id</b></label>
                                </td>
                                <td style="width: 12%; padding-left: 1%;">
                                    @Html.TextBoxFor(model => model.ib_doc_id, new { @class = "form-control txtlbl", @maxlength = "10" })
                                </td>

                              
                                <td style="text-align: right; width: 6%;">
                                    <label><b class="Lblmanual">Cont Id</b></label>
                                </td>
                                <td style="width: 24%; padding-left: 1%;">
                                    @Html.TextBoxFor(model => model.cont_id, new { @class = "form-control txtlbl", @maxlength = "25" })
                                </td>
                                <td colspan="2" style="width: 11%;"></td>

                            </tr>
                        </table>
   
         
                        <table style="width:100%;border-collapse: separate;border-spacing: 0px 0.5em;">
                            <tr>
                                <td style="width: 71% ; text-align:right">
                                    <button type="button" id="btnSearch" class="btn_search" style="margin-left: 20px;">Search </button>
                                    <button type="button" id="btnClear" class="btn-Clear">Clear </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1">

                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <table>
                            <tr>
                                <td></td>
                                <td>
                                    <fieldset>
                                        <legend>Process Selection</legend>


                                        <div class="modal-header">

                                           
                                            <button type="button" id="btnItemSave" class="btn-Close" style="float:right;margin-top: -18px;margin-right: 1px;background-color: #00c0ef;">Save</button>
                                        </div>

                                    </fieldset>

                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="showgrid" class="box-header" style="padding:5px;">
    <div class="ItemSummary">
        <br />
        <table>
            <tr>
                <td style="width:48%;text-align:center;">
                    <span style="font-size: 1.5em;color:#116b42;font-weight: bold;">
                        Total Records:
                    </span>
                    <label class="totalCount" style="text-align:left">
                    </label>
                </td>
                <td style="font-size:1.5em;color:black;font-weight: bold;text-align:left;padding-right: 10px;font-family:Verdana;">
                    Total Ctns:
                </td>
                <td>
                    <input type="text" value="0" class="form-control" style="font-size:16px;font-weight: 900;font-family: verdana;color: red;width:152px; " />
                </td>
                <td style="font-size:1.5em;color:black;font-weight: bold;text-align:left;padding-left:30px;padding-right: 10px;font-family:Verdana;">
                    Total Pcs:
                </td>
                <td>
                    <input type="text" value="0" class="form-control" style="font-size:16px;font-weight: 900;font-family: verdana;color: red;width:152px; " />

                </td>

                <td></td>
            </tr>
        </table>

        <br />

        <table id="GrdStockChangeInq" class="table table-bordered table-striped">

            <thead class="grid_backcolor">
                <tr>
                    <th></th>
                    <th class="grid_header_backcolor">Sel</th>
                    <th class="grid_header_backcolor">IBDocId</th>
                    <th class="grid_header_backcolor">Style</th>
                    <th class="grid_header_backcolor">Color</th>
                    <th class="grid_header_backcolor">Size</th>
                    <th class="grid_header_backcolor">ContId</th>
                    @*<th class="grid_header_backcolor">LotId</th>
                    <th class="grid_header_backcolor">Pallet</th>*@
                    <th class="grid_header_backcolor">PoNum</th>
                    <th class="grid_header_backcolor">From Loc</th>
                    <th class="grid_header_backcolor">Totctns</th>
                    <th class="grid_header_backcolor">Ppk</th>
                    <th class="grid_header_backcolor">TotQty</th>
                    <th class="grid_header_backcolor">To Loc</th>
                    <th class="grid_header_backcolor">Move Ctn(s)</th>
                    <th class="grid_header_backcolor">Move Qty</th>
                    <th style="display:none;"></th>
                    <th style="display:none;"></th>
                    <th style="display:none;"></th>
                    <th style="display:none;"></th>
                    <th style="display:none;"></th>
                    <th style="display:none;"></th>
                    <th style="display:none;"></th>
                    <th style="display:none;"></th>
                    <th style="display:none;"></th>
                    <th style="display:none;"></th>

                </tr>
            </thead>
        </table>
    </div>
</div>
<div id='myModalEmail' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content" style="width: 198%; left:-160px;">
            <div id='myModalEmailContent' style="width: 100%; height: 700px;"></div>
        </div>
    </div>

</div>
<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="~/Scripts/DateTimePicker/jquery.datetimepicker.full.min.js"></script>
<script src="~/Scripts/AutoComplete/jquery-ui-1.10.4.custom.min.js"></script>
<script src="~/Scripts/sweetalert.js"></script>
<script type="text/javascript">
 $("#btnClose").click(function () {
        window.location.href = '@Url.Action("Dashboard", "DashBoard")';
 })
    $("#btnCloseecom").click(function () {
        debugger
        var p_str_screentitle = $('#screentitle').val();
        var p_str_cmpid = $('#g_str_tmp_cmp_id').val();
        var url = '@Url.Action("ECommDashBoard", "ECommDashBoard")';
        url += '?id=' + p_str_cmpid;
        window.location.href = url;
    })

    $("#btnCloseB2B").click(function () {
        debugger
        var p_str_screentitle = $('#screentitle').val();
        var p_str_cmpid = $('#g_str_tmp_cmp_id').val();
        var url = '@Url.Action("DashboardB2B", "DashboardB2B")';
        url += '?id=' + p_str_cmpid;
        window.location.href = url;
    })

        $("#btnDashboard").click(function () {
        var p_str_cmpid = $('#cmp_id').val();
        var url = '@Url.Action("Dashboard", "Dashboard")';
        url += '?id=' + p_str_cmpid;
        window.location.href = url;
        })
    $('#rcvd_dt_fm').datetimepicker({
        timepicker: false,
        step: 15, format: 'm-d-Y'
    });
    $('#rcvd_dt_to').datetimepicker({
        timepicker: false,
        step: 15, format: 'm-d-Y'
    });
    $('#GrdStockChangeInq').DataTable({
        "paging": true,
        "lengthChange": true,
        "pageLength": 5000,
        "searching": false,
        "ordering": false,
        "info": true,
        "autoWidth": true,
        "scrollCollapse": true,
        "sScrollY": "460px",
        "sScrollX": "100%",

    });
    $("#btnSearch").click(function () {
        debugger
        var cmp_id = $("#cmp_id").val();
        if (cmp_id == "") {
            sweetAlert("", "Please select the Company Id", "");
            $('#cmp_id').focus();
            $('body,html').animate({ scrollTop: 0 }, 0);
            er = 1;
            return false;
        }


        else {

            var p_str_cmp_id = $('#cmp_id').val();
            var p_str_ib_doc_id = $('#ib_doc_id').val();
            var p_str_cont_id = $('#cont_id').val();
            if (p_str_ib_doc_id == ""  && p_str_cont_id == "" )
            {
                sweetAlert("", "Please enter Container# or IB Doc Id", "");
                $('#ib_doc_id').focus();
                $('body,html').animate({ scrollTop: 0 }, 0);
                er = 1;
                return false;
            }

            $("#ajaxLoading").show();
            $.ajax({
                type: "GET",
                url: "/StockMove/GetStockForMoveByIbDocId",
                data: {
                    "p_str_cmp_id": p_str_cmp_id, "p_str_ib_doc_id": p_str_ib_doc_id,
                    "p_str_cont_id": p_str_cont_id,
                    "p_str_refresh":'N'
                },
                dataType: 'html',
                success: function (e) {
                    debugger
                    $("#ajaxLoading").hide();
                    $('#showgrid').html("");
                    $('#showgrid').html(e);
                },
            })

        }
    });

    function change(el) {
        if (el.value === "(Click to hide...)")
            el.value = "(Click to show...)";
        else
            el.value = "(Click to hide...)";
    }
   


    $(".ui-autocomplete").css("z-index", "2147483647");

    $("#btnClear").click(function () {
        $("#ib_doc_id").val("");
        $("#cont_id").val("");
     
    });
</script>
<script type="text/javascript">
    $("#loc_id").autocomplete({
        matchContains: true,
        minChars: 1,
        mustMatch: true,
        source: "/StockChange/ItemXGetLocDtl?cmp_id=" + $('#cmp_id').val() + "&",
        select: function (event, ui) {
            debugger
            $("#loc_id").val(ui.item.loc_id);
            closeOnSelect: true
        }
    });
    $(".ui-autocomplete").css("z-index", "2147483647");
</script>


<script>
    $("#btnItemSave").click(function () {
        debugger
        $("#ajaxLoading").show();
        var p_str_cmp_id = $('#cmp_id').val();
        if (p_str_cmp_id == "") {
            swal("", "Please Select The Company.", "");
            $('#cmp_id').focus();
            $('body,html').animate({ scrollTop: 0 }, 0);
            er = 1;
            return false;
        }


        var l_int_sel_count = $("input[name='chkItemMove']:checked").length;
        var p_str_ib_doc_id = '';
        var p_str_cont_id = '';
        if (l_int_sel_count > 0) {
            var l_int_tot_rec = $("#hdn_total_records").val();
            var ListItemStockMove = new Array();
            for (var i = 0; i < l_int_tot_rec; i++) {
                var l_str_is_selected = false;
                var l_chkbox = "check_" + i;
                var element = document.getElementById(l_chkbox);
                if (typeof (element) != 'undefined' && element != null) {
                    var l_str_is_selected = document.getElementById(l_chkbox).checked;
                }
                else {
                    l_str_is_selected = false;
                }

                if (l_str_is_selected) {
                    var p_str_cmp_id = $('#cmp_id').val();
                    var p_str_adj_doc_id = "";
                    var p_str_adj_dt = "";
                    var p_str_itm_code = $("#itm_code_" + i).val();
                    var p_str_whs_id = $("#whs_id_" + i).val();
                    p_str_ib_doc_id = $("#ib_doc_id_" + i).val();
                    var p_str_rcvd_dt = $("#rcvd_dt_" + i).val();
                    p_str_cont_id = $("#cont_id_" + i).val();
                    var p_str_lot_id = $("#lot_id_" + i).val();
                    var p_str_palet_id = $("#palet_id_" + i).val();
                    var p_str_po_num = $("#po_num_" + i).val();
                    var p_str_loc_id_from = $("#loc_id_" + i).val();
                    var p_str_ctn_qty = $("#pkg_qty_" + i).val();
                    var p_str_tot_ctns = $("#tot_ctns_" + i).val();
                    var p_str_loc_id_to = $("#to_loc_" + i).val();
                    var p_str_move_ctns = $("#mvctn_" + i).val();
                    var p_str_user_id = "";
                    var p_str_process_id = "";
                    var obj_itm_move = {};
                    obj_itm_move.cmp_id = p_str_cmp_id;
                    obj_itm_move.adj_doc_id = p_str_adj_doc_id;
                    obj_itm_move.adj_dt = p_str_adj_dt;
                    obj_itm_move.itm_code = p_str_itm_code;
                    obj_itm_move.whs_id = p_str_whs_id;
                    obj_itm_move.ib_doc_id = p_str_ib_doc_id;
                    obj_itm_move.rcvd_dt = p_str_rcvd_dt;
                    obj_itm_move.cont_id = p_str_cont_id;
                    obj_itm_move.lot_id = p_str_lot_id;
                    obj_itm_move.palet_id = p_str_palet_id;
                    obj_itm_move.po_num = p_str_po_num;
                    obj_itm_move.loc_id_from = p_str_loc_id_from;

                    obj_itm_move.ctn_qty = p_str_ctn_qty;
                    obj_itm_move.tot_ctns = p_str_tot_ctns;
                    obj_itm_move.loc_id_to = p_str_loc_id_to;
                    obj_itm_move.move_ctns = p_str_move_ctns;
                    obj_itm_move.user_id = p_str_user_id;
                    obj_itm_move.process_id = p_str_process_id;
                    ListItemStockMove.push(obj_itm_move);
                }

            }

            $.ajax({
                type: "POST",
                url: '@Url.Content("~/StockMove/SaveItemMove")',
                data: JSON.stringify({
                    "p_str_cmp_id": p_str_cmp_id,
                    ListItemStockMove: ListItemStockMove
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",

                success: function (e) {
                    $("#ajaxLoading").hide();
                    swal({
                        title: "",
                        text: "Item Move by IbDocId/Container Saved Successfully",
                        type: "",
                        showCancelButton: false,
                        confirmButtonClass: "btn-danger",
                        confirmButtonText: "Ok",
                        closeOnConfirm: true
                    },

                    function () {
                        debugger;

                        setTimeout(function () {


                            $.ajax({
                                type: "get",
                                url: "/StockMove/GetRefreshGrid",
                                data: {
                                    "p_str_cmp_id": p_str_cmp_id,
                                    "p_str_ib_doc_id": p_str_ib_doc_id,
                                    "p_str_cont_id": p_str_cont_id
                                },
                                datatype: 'html',
                                success: function (e) {
                                    debugger
                                    $("#ajaxLoading").hide();
                                    $('#showgrid').html("");
                                    $('#showgrid').html(e);
                                },
                            })




                        });


                    });


                }
            });


        }
        else {
            swal("", "No records selected to Move", "");
            return false;
        }


    });
</script>
<script>
  $(function () {

        $('#cmp_id').change(function () {
            debugger;
            var l_str_comp = this.value;
            debugger
            $("#p_str_company").val(l_str_comp);
            var p_str_cmp_id = $(this).find(":selected").val();
            $.ajax({
                url: '@Url.Action("CmpIdOnChange", "StockChange")',
                type: 'GET',
                cache: false,
                data: {
                    "p_str_cmp_id": p_str_cmp_id
                },

                dataType: "json",
                success: function (e) {
                    $.each(e, function () {
                        $("#tmp_cmp_id").val(this.l_str_tmp_cmp_id);
                    });
                },
            });
        });

    });
</script>
@{Html.RenderPartial("~/Views/Shared/_Popupnotification.cshtml");}
<script type="text/javascript">
    $("#loc_id").autocomplete({
        matchContains: true,
        minChars: 1,
        mustMatch: true,
        source: "/StockChange/ItemXGetLocDtl?cmp_id=" + $('#cmp_id').val() + "&",
        select: function (event, ui) {
            debugger
            $("#loc_id").val(ui.item.loc_id);
            closeOnSelect: true
        }
    });
    $(".ui-autocomplete").css("z-index", "2147483647");
</script>
<script>
    $(function () {
        $('#cmp_id').change(function () {
            debugger;
            var p_str_cmp_id = $(this).find(":selected").val();
            $.ajax({
                url: '@Url.Action("CmpIdOnChange", "StockChange")',

                type: 'GET',
                cache: false,
                data: {
                    "p_str_cmp_id": p_str_cmp_id
                },

                dataType: "json",
                success: function (e) {

                },
            });
        });

    });
</script>
