@model GsEPWv8_5_MVC.Model.IB943UploadFileModel
@{
    ViewBag.Title = " 943 IB CONTAINER UPLOAD (CSV)";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var Ordercount = Model.ListIB943UploadFileHdr.Count;
    var l_int_error_count = Model.ListIB943InvalidData.Count;
    var l_str_error_desc = Model.error_desc;
}
<style type="text/css">
    div#ajaxLoading {
        display: none;
        width: 100px;
        height: 100px;
        position: fixed;
        top: 30%;
        left: 56%;
        text-align: center;
        margin-left: -50px;
        margin-top: -100px;
        z-index: 2;
        overflow: auto;
    }

    fieldset {
        /*margin: 8px;*/
        border: 1px solid silver;
        padding: 8px;
        border-radius: 4px;
    }

    legend {
        padding: 2px;
    }

    legend {
        display: block;
        width: 100%;
        padding: 0;
        margin-bottom: 23px;
        font-size: 14px;
        line-height: inherit;
        color: #e81994;
        border: 0;
        font-weight: bold;
    }

    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 12px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }

    .ScreenTitle {
        padding-left: 40px;
        font-size: 18px;
        font-family: Verdana;
        font-weight: bold;
        padding-top: 13px;
    }

    .Lblmanual {
        color: #0d8cb5;
        font-family: Trebuchet;
        font-size: 1.8em;
        left: 10px;
        width: 56px;
    }

    .text-muted {
        color: black;
    }

    #GridIB943Main tr td:nth-child(1) {
        width: 3%;
    }

    #GridIB943Main tr td:nth-child(2) {
        width: 8%;
    }

    #GridIB943Main tr td:nth-child(3) {
        width: 7%;
    }

    #GridIB943Main tr td:nth-child(4) {
        width: 6%;
    }

    #GridIB943Main tr td:nth-child(5) {
        width: 5%;
    }


    #GridIB943Main tr td:nth-child(6) {
        width: 10%;
    }

    #GridIB943Main tr td:nth-child(7) {
        width: 5%;
    }


    #GridIB943Main tr td:nth-child(8) {
        width: 4%;
    }

    #GridIB943Main tr td:nth-child(9) {
        width: 4%;
    }

    #GridIB943Main tr td:nth-child(10) {
        width: 4%;
    }

    #GridIB943Main tr td:nth-child(11) {
        width: 4%;
    }

    #GridIB943Main tr td:nth-child(12) {
        width: 4%;
    }

    #GridIB943Main tr td:nth-child(13) {
        width: 5%;
    }

    #GridIB943Main tr td:nth-child(14) {
        width: 5%;
    }

    #GridIB943Main tr td:nth-child(15) {
        width: 8%;
    }

    #GridIB943Main tr td:nth-child(16) {
        width: 18%;
    }
</style>
<meta name="viewport" content="width=device-width" />

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/DateTimePicker/jquery.datetimepicker.full.min.js"></script>
<link href="~/Scripts/sweetalert.css" rel="stylesheet" />
<link rel="stylesheet" href="~/plugins/datatables/dataTables.bootstrap.css">
<link href="~/Scripts/ManualSheets/jquery-ui.css" rel="stylesheet" />
<link href="~/Scripts/Style/CommonStyleSheet.css" rel="stylesheet" />
<link href="~/Scripts/DateTimePicker/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/sweetalert.js"></script>
<table style="width: 100%;">
    <tr>
        <td style="padding-top: 13px;width:10%;">
            @if (System.Configuration.ConfigurationManager.AppSettings["CompanyWebLink"].ToString() == "3plpro.gensoftcorp.com")
            {
                <a href="/DashBoard/DashBoard" id="btnDashboard">
                    <b style="font-size:15px;text-decoration: underline;">Dashboard</b>
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            }
            @if (System.Configuration.ConfigurationManager.AppSettings["CompanyWebLink"].ToString() == "3plecom.gensoftcorp.com")
            {
                <a href="/ECommDashBoard/ECommDashBoard" id="btnDashboard">
                    <b style="font-size:15px;text-decoration: underline;">Dashboard</b>
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            }
            @if (System.Configuration.ConfigurationManager.AppSettings["CompanyWebLink"].ToString() == "3plb2b.gensoftcorp.com")
            {
                <a href="/DashBoardB2B/DashBoardB2B" id="btnDashboard">
                    <b style="font-size:15px;text-decoration: underline;">Dashboard</b>
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            }
        </td>

        <td style="width: 60%" class="ScreenTitle">
            943 IB CONTAINER UPLOAD
            <input type="hidden" id="screenTitle" value="IBInquiry" />
        </td>


        <td style="padding-top: 11px;width:30%;text-align:right">
            @if (System.Configuration.ConfigurationManager.AppSettings["CompanyWebLink"].ToString() == "3plpro.gensoftcorp.com")
            {
                <button type="button" id="btnClose" class="btn-Close">Close</button>
            }
            @if (System.Configuration.ConfigurationManager.AppSettings["CompanyWebLink"].ToString() == "3plecom.gensoftcorp.com")
            {
                <button type="button" id="btnCloseecom" class="btn-Close">Close</button>
            }
            @if (System.Configuration.ConfigurationManager.AppSettings["CompanyWebLink"].ToString() == "3plb2b.gensoftcorp.com")
            {
                <button type="button" id="btnCloseB2B" class="btn-Close">Close</button>
            }
        </td>
    </tr>
</table>

<div id="ajaxLoading" style="display:none;"><img src="~/Images/ajax-loader.gif" /></div>

<div class="box box-default">
    <div class="box-header with-border" style="background-color:#1357d0; padding:5px; ">
        <h6 class="box-title" style="color:white;font-size:16px; font-weight: bolder;">Filter Details</h6>
        <div class="box-tools">
            <input type="button" class="btn btn-box-tool" style="color:white;font-size:11px; font-weight:bold;" value="(Click to hide...)" onclick="return change(this);" data-widget="collapse" title="(Click to hide...)" />
        </div>
    </div>
    <div class="box-body">
        <div class="row" style="margin-bottom:18px;margin-top: 19px;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-9 col-sm-9 col-xs-9">
                    <table style="width:100%;border-collapse: separate;border-spacing: 0px 0.5em;">
                        <tr>
                            <td style="text-align: right;  margin-top: 6px;">
                                <label class="Lblmanual"><b>Company: </b></label>
                            </td>
                            <td style="text-align: right;padding-left: 2%;">
                                @Html.DropDownListFor(model => model.cmp_id, new SelectList(Model.ListCompany, "cmp_id", "cmp_name"), "---Select---", new { @class = "form-control" })
                            </td>
                            <td style="text-align: right; width: 120px; margin-top: 6px;">
                                <label class="Lblmanual" style="width: 100%;"><b>File Name: </b></label>
                            </td>
                            <td style="text-align: right;padding-left: 1%;">
                                <input type="file" name="FileUpload" id="upload_file_name" onchange="updateFileName()" style="display:none" title="" />

                                @Html.TextBoxFor(x => x.objIB943UploadFileInfo.file_name, new { @class = "form-control", @name = "file_name", @id = "file_name" })
                            </td>

                            <td style="text-align: left;padding-left: 1%;">
                                <button type="button" style="background-color:#1a45bf" id="btnBrowse" class="btn_browse" onclick="document.getElementById('upload_file_name').click();">Browse</button>
                                <button type="submit" id="btnImport" class="btn_upload">Import </button>
                                <button type="button" id="btnSave" class="btn_Receive" style="width:80px;">Save </button>
                                <button type="reset" id="btnClear" class="btn-Clear">Clear </button>
                            </td>
                        </tr>
                    </table>

                    <table style="width:100%;border-collapse: separate;border-spacing: 0px 0.5em;">
                        <tr>

                            <td style="text-align: right;margin-top: 6px;width:7%">
                                <label><b class="Lblmanual">Upload Dt Fm </b></label>
                            </td>
                            <td style="text-align: right;padding-left:1%;width: 12%;">
                                @Html.TextBoxFor(model => model.upload_dt_from, new { @class = "form-control txtlbl", placeholder = "MM/DD/YYYY", @maxlength = "10" })
                            </td>
                            <td style="text-align: right;margin-top: 6px;width:2%">
                                <label><b class="Lblmanual">To</b></label>
                            </td>
                            <td style="text-align: left;padding-left:1%;width: 12%;">
                                @Html.TextBoxFor(model => model.upload_dt_to, new { @class = "form-control txtlbl", placeholder = "MM/DD/YYYY", @maxlength = "10", })
                            </td>
                            <td style="text-align: left;width: 10%;padding-left: 2%;">
                                <button type="button" id="btnSearch" class="btn_search">Search </button>
                            </td>
                            <td style="text-align: left; width: 17%; margin-top: 6px;">
                                <a id="upload" href="@Url.Action("SampleTemplatedownload", "IB943UploadFile")" target="_blank" style="text-decoration:underline; color:#4c8cff;"><b style="font-size:13px;">IB 943 Upload Sample</b></a>

                            </td>

                        </tr>
                    </table>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <table>
                        <tr>
                            <td>
                                <div class="container" style="margin-left:22px; width:100%;">
                                    <fieldset>
                                        <legend>Report Selection</legend>

                                        <table style="margin-top:-25px;">
                                            <tr>
                                                <td style="padding-left: 10px;font-size: 1.2em;padding-bottom: 8px;"><input type="radio" value="GridSRRpt" name="radio1" checked /><b>943 IB Summary Report</b></td>

                                            </tr>
                                        </table>
                                        <table>
                                            <tr>
                                                <td>
                                                    <b style="color:blue;font-size: 12px; margin-left:5px;">Format</b>
                                                    <select id="id_format" class="btn-Format" type="button" style="margin-left:6px;width:70px; text-align:right " data-toggle="dropdown">
                                                        <option>PDF</option>
                                                    </select>

                                                </td>
                                                <td>
                                                    <b style="color:blue;font-size: 12px; margin-left:20px;">Mode</b>
                                                    <select id="id_mode" class="btn-Format" type="button" style="margin-left:6px; width:90px; text-align:right " data-toggle="dropdown">
                                                        <option>VIEW</option>
                                                        <option>EMAIL</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <button type="button" id="btnprocesss" class="btn_search" style="margin-left:10px; margin-bottom:3px;">Process</button>
                                                </td>

                                            </tr>
                                        </table>
                                    </fieldset>
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-9 col-sm-9 col-xs-9">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    @*<table>
                            <tr>
                                <td>
                                    <div class="container" style="margin-left:238px;width:100%;">
                                        <fieldset style="margin-left:1135px">
                                            <legend>Upload Selection</legend>

                                            <table style="margin-top:-25px;">
                                                <tr>
                                                    <td style="padding-left: 10px;font-size: 1.2em;padding-bottom: 8px;"><input type="radio" value="SingleLineUpload" name="radio2" checked /><b>943 Uploadby Single Line</b></td>
                                                    <td style="padding-left: 10px;font-size: 1.2em;padding-bottom: 8px;"><input type="radio" value="MultipleLineUpload" name="radio2"  /><b>943 Uploadby Multiple Line</b></td>
                                                </tr>
                                            </table>
                                        </fieldset>
                                    </div>
                                </td>
                            </tr>
                        </table>*@

                </div>
            </div>
        </div>
    </div>
    <div id="grd_ib_943" class="box-header" style="padding: 5px; background-color: #eee;border-radius: 5px;">
        <div>

            <div>
                <table id="GridIB943Main" class="table table-bordered table-striped" style="border:1px solid #121213 ;width:100%">
                    <thead class="grid_backcolor">
                        <tr>
                            <th class="grid_header_backcolor" style="width:3%">Ln#</th>
                            <th class="grid_header_backcolor" style="width:7%">Container ID</th>
                            <th class="grid_header_backcolor" style="width:5%">Style</th>
                            <th class="grid_header_backcolor" style="width:5%">color </th>
                            <th class="grid_header_backcolor" style="width:5%">Size</th>
                            <th class="grid_header_backcolor" style="width:10%">Desc</th>
                            <th class="grid_header_backcolor" style="width:4%">Item Qty</th>
                            <th class="grid_header_backcolor" style="width:4%">Ctns</th>
                            <th class="grid_header_backcolor" style="width:3%">PPK</th>
                            <th class="grid_header_backcolor" style="width:3%">Length</th>
                            <th class="grid_header_backcolor" style="width:3%">Width</th>
                            <th class="grid_header_backcolor" style="width:3%">Height</th>
                            <th class="grid_header_backcolor" style="width:4%">Cube</th>
                            <th class="grid_header_backcolor" style="width:4%">Weight</th>
                            <th class="grid_header_backcolor" style="width:5%">Factory</th>
                            <th class="grid_header_backcolor" style="width:14%">HeaderInfo</th>
                            <th class="grid_header_backcolor" style="width:5%">VendorPO</th>
                            <th class="grid_header_backcolor" style="width:5%">Customer</th>
                            <th class="grid_header_backcolor" style="width:5%">CustPO</th>
                            <th class="grid_header_backcolor" style="width:5%">Pick List</th>
                            <th class="grid_header_backcolor" style="width:10%">Dtl Note</th>


                        </tr>
                    </thead>

                    <tbody>
                        @for (int i = 0; i < Model.ListIB943UploadFileDtl.Count; i++)
                        {
                            var wgt = (Model.ListIB943UploadFileDtl[i].ctn_wgt);
                            var cube = (Model.ListIB943UploadFileDtl[i].ctn_cube);
                            var l_dec_wgt = wgt.ToString("F2");
                            var l_dec_cube = cube.ToString("F3");
                            <tr class="row-select">
                                <td style="font-size:12px; color:black; font-weight:bold;text-align:right">@Model.ListIB943UploadFileDtl[i].dtl_line</td>
                                <td style="font-size:12px; color:black; font-weight:bold;">@Model.ListIB943UploadFileDtl[i].cntr_id</td>
                                <td style="font-size:12px; color:black; font-weight:bold;">@Model.ListIB943UploadFileDtl[i].itm_num</td>
                                <td style="font-size:12px; color:black; font-weight:bold; text-align:left"> @Model.ListIB943UploadFileDtl[i].itm_color</td>
                                <td style="font-size:12px; color:black; font-weight:bold; text-align:left">@Model.ListIB943UploadFileDtl[i].itm_size</td>
                                <td style="font-size:12px; color:black; font-weight:bold;">@Model.ListIB943UploadFileDtl[i].itm_name</td>

                                <td style="font-size:12px; color:black; font-weight:bold;text-align:right">@Model.ListIB943UploadFileDtl[i].ordr_qty</td>
                                <td style="font-size:12px; color:black; font-weight:bold;text-align:right">@Model.ListIB943UploadFileDtl[i].ordr_ctn</td>
                                <td style="font-size:12px; color:black; font-weight:bold;text-align:right">@Model.ListIB943UploadFileDtl[i].ctn_qty</td>
                                <td style="font-size:12px; color:black; font-weight:bold; text-align:right">@Model.ListIB943UploadFileDtl[i].ctn_length</td>
                                <td style="font-size:12px; color:black; font-weight:bold;text-align:right">@Model.ListIB943UploadFileDtl[i].ctn_width</td>
                                <td style="font-size:12px; color:black; font-weight:bold; text-align:right">@Model.ListIB943UploadFileDtl[i].ctn_height</td>
                                <td style="font-size:12px; color:black; font-weight:bold;text-align:right">@Model.ListIB943UploadFileDtl[i].ctn_cube</td>
                                <td style="font-size:12px; color:black; font-weight:bold;text-align:right">@Model.ListIB943UploadFileDtl[i].ctn_wgt</td>
                                <td style="font-size:12px; color:black; font-weight:bold; text-align:left"> @Model.ListIB943UploadFileDtl[i].factory_id</td>
                                <td style="font-size:12px; color:black; font-weight:bold;">@Model.ListIB943UploadFileDtl[i].header_data</td>
                                <td style="font-size:12px; color:black; font-weight:bold; text-align:left"> @Model.ListIB943UploadFileDtl[i].po_num</td>
                                <td style="font-size:12px; color:black; font-weight:bold; text-align:left"> @Model.ListIB943UploadFileDtl[i].cust_name</td>
                                <td style="font-size:12px; color:black; font-weight:bold; text-align:left">@Model.ListIB943UploadFileDtl[i].cust_po_num</td>
                                <td style="font-size:12px; color:black; font-weight:bold; text-align:left">@Model.ListIB943UploadFileDtl[i].pick_list</td>
                                <td style="font-size:12px; color:black; font-weight:bold; text-align:left">@Model.ListIB943UploadFileDtl[i].dtl_note</td>
                                <td style="font-size:12px; color:black; font-weight:bold;">@Model.ListIB943UploadFileDtl[i].header_data</td>

                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div id='myModalEmailAlert' class='modal'>
        <div class="modal-dialog">
            <div class="modal-content" style="width: 250%; left:-300px;">
                <div id='myModalEmailAlertContent' style="width: 100%; height: 1000px;"></div>
            </div>
        </div>
    </div>

    @*<div id='myModalEmail' class='modal'>
        <div class="modal-dialog">
            <div class="modal-content" style="width: 198%; left:-160px;">
                <div id='myModalEmailContent' style="width: 100%; height: 605px;"></div>
            </div>
        </div>
    </div>*@

    <div id='UsersEmail' class='modal' style="padding-left:947px;padding-top:271px">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 100%;">
                <div id='UsersEmailContent' style="width: 100%; height: 360px;"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function updateFileName() {
        debugger
        var upload_file_name = document.getElementById('upload_file_name');
        var file_name = document.getElementById('file_name');
        var fileNameIndex = upload_file_name.value.lastIndexOf("\\");
        file_name.value = upload_file_name.value.substring(fileNameIndex + 1);
        $('#btnImport').removeAttr('disabled');
        $('#btnSearch').attr('disabled', 'disabled');
    }

    $('#btnClear').click(function () {
        debugger;
        $('#file_name').val('');
        var l_str_new_cmp_id = $('#cmp_id').val();
        $.ajax({
            type: "GET",
            url: '@Url.Content("~/IB943UploadFile/ClearAll")',
            data: {
                "p_str_cmp_id": l_str_new_cmp_id
            },
            dataType: 'html',
            success: function (result) {

                $("#ajaxLoading").hide();
                $('#grd_ib_943').html("");
                $('#grd_ib_943').html(result);
                $('#btnBrowse').removeAttr('disabled');
            },
            error: function (err) {
                alert(err.statusText);
            }
        });
    });
    $('#btnImport').click(function () {
        debugger
        var l_str_new_cmp_id = $('#cmp_id').val();
        var l_str_file_name = $('#file_name').val();
        var fileExtension = l_str_file_name.substr((l_str_file_name.lastIndexOf('.') + 1));
        $('#btnSave').removeAttr('disabled');
        $('#btnSearch').attr('disabled', 'disabled');
        if ((fileExtension == "csv") || (fileExtension == "CSV")) {


        }
        else {
            sweetAlert("", "Please Check the File Format, Upload only .CSV File", "");
            $('#file_name').val('');
            $('#upload_file_name').val('');
            $('#grd_ib_943').show();
            return false;
        }

        if (l_str_new_cmp_id == "") {
            swal("", "please select the company.", "");
            $('#cmp_id').focus();
            $('body,html').animate({ scrolltop: 0 }, 0);
            er = 1;
            return false;
        }
        if (l_str_file_name == "") {
            swal("", "please select the File.", "");
            $('#file_name').focus();
            $('body,html').animate({ scrolltop: 0 }, 0);
            er = 1;
            return false;
        }
        $(document).ready(function () {
            $("#btnSave :input").attr("disabled", false);
        });

        var postbackurl = '/IB943UploadFile/SingleLineFileUpload';

        $.ajax({
            type: "GET",
            url: '@Url.Content("~/IB943UploadFile/Check943UploadFileExists")',
            data: {
                "p_str_cmp_id": l_str_new_cmp_id, "p_str_file_name": l_str_file_name
            },
            dataType: 'html',
            success: function (e) {
                debugger
                $("#ajaxLoading").hide();
                if (e == "true")
                {
                    debugger;
                    sweetAlert({
                        title: "",
                        text: "File Already Exist, Do you want to Continue?",
                        type: "",
                        showCancelButton: true,
                        confirmButtonClass: "btn-danger",
                        confirmButtonText: "No",
                        cancelButtonText: "Yes",
                        closeOnConfirm: true,
                        closeOnCancel: true
                    },
                    function (isConfirm) {
                        if (isConfirm) {
                            $('#file_name').focus();

                        }
                        else
                        {
                            if (window.FormData !== undefined) {

                                var fileUpload = $("#upload_file_name").get(0);
                                var files = fileUpload.files;

                                // Create FormData object
                                var fileData = new FormData();

                                // Looping over all files and add it to FormData object
                                for (var i = 0; i < files.length; i++) {
                                    fileData.append(files[i].name, files[i]);
                                }

                                // Adding one more key to FormData object
                                fileData.append('username', 'Manas');
                                $("#ajaxLoading").show();

                                $.ajax({

                                    url: postbackurl+'?l_str_cmp_id=' + l_str_new_cmp_id,
                                    type: "POST",
                                    contentType: false, // Not to set any content header
                                    processData: false, // Not to process data
                                    data: fileData,
                                    success: function (result) {
                                        $("#ajaxLoading").hide();
                                        debugger
                                        if (result.error_mode == true) {
                                            $("#error_desc").val(this.error_desc);
                                            $('#IB943ErrorGrid').show();
                                            $('#IB943ErrorGrid').html("");
                                            $('#IB943ErrorGrid').html(result);
                                            $('#IB943ErrorGrid').html(this.error_desc);
                                            $("#error_desc").val(this.error_desc);
                                            if (result.Error_flag = "O") {
                                                alert(result.error_desc);
                                                if (result.error_desc == "Invalid File Name") {
                                                    sweetAlert("", "Invalid File Name", "");
                                                }
                                                else {
                                                    sweetAlert("", "Exception found.Please correct the File and Reupload", "");
                                                }
                                                $("#ajaxLoading").hide();
                                                return false;
                                            }
                                        }
                                        else {
                                            $("#ajaxLoading").hide();
                                            $('#grd_ib_943').html("");
                                            $('#grd_ib_943').html(result);
                                            $("#btnSave :input").attr("disabled", false);
                                        }

                                    },
                                    error: function (err) {
                                        sweetAlert('Exception found.Please correct the File and Reupload');
                                        $("#ajaxLoading").hide();
                                    }
                                });
                            }
                            else {
                                sweetAlert("FormData is not supported.");
                                $("#ajaxLoading").hide();
                            }
                        }

                    }
                    )
                }
                else
                {
                    if (window.FormData !== undefined) {

                        var fileUpload = $("#upload_file_name").get(0);
                        var files = fileUpload.files;

                        // Create FormData object
                        var fileData = new FormData();

                        // Looping over all files and add it to FormData object
                        for (var i = 0; i < files.length; i++) {
                            fileData.append(files[i].name, files[i]);
                        }

                        // Adding one more key to FormData object
                        fileData.append('username', 'Manas');
                        $("#ajaxLoading").show();
                        $.ajax({
                            url: postbackurl + '?l_str_cmp_id=' + l_str_new_cmp_id,
                            type: "POST",
                            contentType: false, // Not to set any content header
                            processData: false, // Not to process data
                            data: fileData,
                            success: function (result) {
                                $("#ajaxLoading").hide();
                                debugger
                                if (result.error_mode == true) {
                                    var p_str_error_desc = this.error_desc;
                                    $('#IB943ErrorGrid').show();
                                    $('#IB943ErrorGrid').html("");
                                    $('#IB943ErrorGrid').html(result);
                                    $('#IB943ErrorGrid').html(this.error_desc);
                                    $("#error_desc").val(this.error_desc);
                                    if (result.Error_flag = "O") {
                                        if (result.error_desc == "Invalid File Name")
                                        {
                                            sweetAlert("", "Invalid File Name", "");
                                        }
                                        else
                                        {

                                            sweetAlert("", "Exception found.Please correct the File and Reupload", "");
                                        }
                                        $("#ajaxLoading").hide();
                                        return false;
                                    }

                                }
                                else {
                                    $("#ajaxLoading").hide();
                                    $('#grd_ib_943').html("");
                                    $('#grd_ib_943').html(result);
                                    $("#btnSave :input").attr("disabled", false);
                                }



                            },
                            error: function (err) {

                                sweetAlert('Exception found.Please correct the File and Reupload');
                                $("#ajaxLoading").hide();
                            }
                        });
                    } else {
                        sweetAlert("FormData is not supported.");
                        $("#ajaxLoading").hide();
                    }
                }
            }
        })


    });

    $("#btnSearch").click(function () {
        debugger
        var cmp_id = $("#cmp_id").val();
        $('#btnSave').attr('disabled', 'disabled');
        $('#btnImport').attr('disabled', 'disabled');
        $('#btnBrowse').attr('disabled', 'disabled');

        if (cmp_id == "") {
            sweetAlert("", "Please Select The Company.", "");
            $('#cmp_id').focus();
            $('body,html').animate({ scrollTop: 0 }, 0);
            er = 1;
            return false;
        }
        else {
            var p_str_cmp_id = $('#cmp_id').val();
            var p_str_file_name = $('#file_name').val();
            var p_str_so_dt_frm = $('#so_dtFm').val();
            var p_str_so_dt_to = $('#so_dtTo').val();
            var p_str_batch_id = $('#quote_num').val();
            $("#ajaxLoading").show();
            $.ajax({
                type: "GET",
                url: '@Url.Content("~/IB943UploadFile/EComSR943InqDetail")',
                data: {
                    "p_str_cmp_id": p_str_cmp_id, "p_str_file_name": p_str_file_name, "p_str_so_dt_frm": p_str_so_dt_frm, "p_str_so_dt_to": p_str_so_dt_to,
                    "p_str_batch_id": p_str_batch_id
                },
                dataType: 'html',
                success: function (e) {
                    $("#ajaxLoading").hide();
                    $('#grd_ib_943').html("");
                    $('#grd_ib_943').html(e);
                    $('#IB943ErrorGrid').hide();
                },

            })
        }
    });


    $("#btnSave").click(function () {
        debugger
        var l_int_error_count = $("#l_int_error_count").val();

        if (l_int_error_count != 0) {
            swal("", "Exception found.Please correct the File and Reupload ", "");
            return false;
        }



        $('#btnSearch').attr('disabled', 'disabled');

        var rowCount = $("#GridIB943Main td").closest("tr").length;
        if (rowCount == 0 || rowCount == null) {
            swal("", "No Record found to save", "");
            return false;
        }



        var savepostbackurl = '@Url.Content("~/IB943UploadFile/SaveIB943UploadFile")';

        $("#ajaxLoading").show();
        var p_str_cmp_id = $('#cmp_id').val();
        var p_str_file_name = $('#file_name').val();

        if (p_str_cmp_id == "") {
            swal("", "Please Select The Company.", "");
            $('#cmp_id').focus();
            $('body,html').animate({ scrollTop: 0 }, 0);
            er = 1;
            return false;
        }
        $.ajax({
            type: "GET",
            url: savepostbackurl,
            data: {
                "p_str_cmp_id": p_str_cmp_id, "p_str_file_name": p_str_file_name
            },
            dataType: 'html',
            success: function (e) {



                var obj = JSON.parse(e);
                var l_str_error_desc = obj.error_desc;
                var email_auto_sent = obj.email_auto_sent;

                if (l_str_error_desc != "NO") {
                    $("#ajaxLoading").hide();
                    swal("", l_str_error_desc, "");
                    return false;
                }


                if (e.error_mode == "true") {
                    $("#ajaxLoading").hide();
                    swal("", "Exception found.Please correct the File and Reupload ", "");
                    return false;
                }

                if (email_auto_sent == "N") {
                    debugger;
                sweetAlert({
                    title: "",
                    text: " Inbound 943 uploaded successfully. Do you want to Send Acknowledgement mail",
                    type: "",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                    closeOnConfirm: true,
                    closeOnCancel: true
                },
            function (isConfirm) {
                if (isConfirm)
                {
                    var tmpPostBackEmailURL = '/IB943UploadFile/Send943EmailAck';

                    var options = { "backdrop": "static", keyboard: true };
                    $("#ajaxLoading").show();
                    $.ajax({
                        type: "GET",
                        url: tmpPostBackEmailURL,
                        contentType: "application/json; charset=utf-8",
                        data: {
                            "p_str_cmp_id": p_str_cmp_id,
                            "p_str_file_name": p_str_file_name, "p_str_doc_type":'EMAIL'
                        },
                        datatype: "json",
                        success: function (data) {
                            $("#ajaxLoading").hide();
                            if (data == 2) {
                                sweetAlert("", "Email is not allowed", "");
                            }
                            else {

                 
                                $('#myModalEmailAlertContent').html(data);
                                $('#myModalEmailAlert').modal(options);
                                $('#myModalEmailAlert').modal('show');

                                $("#ajaxLoading").hide();
                                $('#grd_ib_943').html("");
                                   $("#btnSave :input").attr("disabled", false);

                            }
                        },
                        error: function () {
                            $("#ajaxLoading").hide();
                            swal("Dynamic content load failed.");
                        }
                    });
                }
                else {

                    var p_str_cmpid = $('#cmp_id').val();
                    var url = '@Url.Action("Dashboard", "Dashboard")';
                    url += '?id=' + p_str_cmpid;
                    window.location.href = url;
                }
            });

            }
        else
        {
                    var tmpPostBackEmailURL = '/IB943UploadFile/Send943EmailAck';

                    var options = { "backdrop": "static", keyboard: true };
                    $("#ajaxLoading").show();
                    $.ajax({
                        type: "GET",
                        url: tmpPostBackEmailURL,
                        contentType: "application/json; charset=utf-8",
                        data: {
                            "p_str_cmp_id": p_str_cmp_id,
                            "p_str_file_name": p_str_file_name, "p_str_doc_type": 'EMAIL'
                        },
                        datatype: "json",
                        success: function (data) {
                            $("#ajaxLoading").hide();
                            if (data == 2) {
                                sweetAlert("", "Email is not allowed", "");
                            }
                            else {
                                $('#myModalEmailAlertContent').html(data);
                                $('#myModalEmailAlert').modal(options);
                                $('#myModalEmailAlert').modal('show');

                                $("#ajaxLoading").hide();
                                $('#grd_ib_943').html("");
                                $("#btnSave :input").attr("disabled", false);

                            }
                        },
                        error: function () {
                            $("#ajaxLoading").hide();
                            swal("Dynamic content load failed.");
                        }
                    });
        }


            },

        })
    });
    $("#btnDashboard").click(function () {
        var p_str_cmpid = $('#cmp_id').val();
        var url = '@Url.Action("Dashboard", "Dashboard")';
        url += '?id=' + p_str_cmpid;
        window.location.href = url;

    })
	 $("#btnClose").click(function () {
        debugger
        var p_str_cmpid = $('#cmp_id').val();
        var url = '@Url.Action("Dashboard", "Dashboard")';
        url += '?id=' + p_str_cmpid;
        window.location.href = url;
	 })

    $("#btnCloseecom").click(function () {
        debugger
        var p_str_cmpid = $('#cmp_id').val();
        var url = '@Url.Action("ECommDashBoard", "ECommDashBoard")';
        url += '?id=' + p_str_cmpid;
        window.location.href = url;
    })

    $("#btnCloseB2B").click(function () {
        debugger
        var p_str_screentitle = $('#screentitle').val();
        var p_str_cmpid = $('#g_str_tmp_cmp_id').val();
        var url = '@Url.Action("DashboardB2B", "DashboardB2B")';
        url += '?id=' + p_str_cmpid;
        window.location.href = url;
    })
</script>

