@model  GsEPWv8_5_MVC.Model.OutboundShipInqModel

@{
    ViewBag.Title = "OutboundShipInq";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var Ordercount = Model.LstOutboundShipInqdetail.Count;
}
<style>
    div#ajaxLoading {
        display: none;
        width: 100px;
        height: 100px;
        position: fixed;
        top: 30%;
        left: 56%;
        text-align: center;
        margin-left: -50px;
        margin-top: -100px;
        z-index: 2;
        overflow: auto;
    }
</style>
<style type="text/css">
    fieldset {
        /*margin: 8px;*/
        border: 1px solid silver;
        padding: 8px;
        border-radius: 4px;
    }

    legend {
        padding: 2px;
    }

    legend {
        display: block;
        width: 100%;
        padding: 0;
        margin-bottom: 0px;
        font-size: 14px;
        line-height: inherit;
        color: #e81994;
        border: 0;
        font-weight: bold;
    }

    .fa {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 12px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }

    .ScreenTitle {
        padding-left: 40px;
        font-size: 18px;
        font-family: Verdana;
        font-weight: bold;
        padding-top: 13px;
    }
</style>
<link href="~/Scripts/Style/CommonStyleSheet.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width" />
<link href="~/Scripts/AutoComplete/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link href="~/Scripts/DateTimePicker/jquery.datetimepicker.css" rel="stylesheet" />
<link rel="stylesheet" href="~/plugins/datatables/dataTables.bootstrap.css">
<link href="~/Scripts/sweetalert.css" rel="stylesheet" />
@Html.HiddenFor(model => model.tmp_cmp_id, new { @id = "g_str_tmp_cmp_id" })
@Html.HiddenFor(model => model.screentitle)           @*CR_3PL_MVC_BL_2018_0312_003 Added By SONIYA*@


@using (Html.BeginForm("OutboundShipInq", "OutboundShipInq", FormMethod.Post, new { @id = "form", @class = "col-xs-12", @enctype = "multipart/form-data" }))
{

    <div>
        <table style="width: 100%;">
            <tr>
                <td style="padding-top: 13px;width:10%;">

                    @if (System.Configuration.ConfigurationManager.AppSettings["CompanyWebLink"].ToString() == "3plpro.gensoftcorp.com")
                    {
                        <a href="/DashBoard/DashBoard" id="btnDashboard">
                            <b style="font-size:15px;text-decoration: underline;">Dashboard</b>
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    }
                    @if (System.Configuration.ConfigurationManager.AppSettings["CompanyWebLink"].ToString() == "3plecom.gensoftcorp.com")
                    {
                        <a href="/ECommDashBoard/ECommDashBoard" id="btnDashboard">
                            <b style="font-size:15px;text-decoration: underline;">Dashboard</b>
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    }
                    @if (System.Configuration.ConfigurationManager.AppSettings["CompanyWebLink"].ToString() == "3plb2b.gensoftcorp.com")
                    {
                        <a href="/DashBoardB2B/DashBoardB2B" id="btnDashboard">
                            <b style="font-size:15px;text-decoration: underline;">Dashboard</b>
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    }
                </td>
                <td style="width: 60%" class="ScreenTitle">
                    @*<h3>Doc Entry & Visibility</h3>*@
                    Shipping Post & Visibility
                </td>
                <td style="padding-top: 11px;width:30%;text-align:right">
                    @if (System.Configuration.ConfigurationManager.AppSettings["CompanyWebLink"].ToString() == "3plpro.gensoftcorp.com")
                    {
                        <button type="button" id="btnClose" class="btn-Close">Close</button>
                    }
                    @if (System.Configuration.ConfigurationManager.AppSettings["CompanyWebLink"].ToString() == "3plecom.gensoftcorp.com")
                    {
                        <button type="button" id="btnCloseecom" class="btn-Close">Close</button>
                    }
                    @if (System.Configuration.ConfigurationManager.AppSettings["CompanyWebLink"].ToString() == "3plb2b.gensoftcorp.com")
                    {
                        <button type="button" id="btnCloseB2B" class="btn-Close">Close</button>
                    }
                </td>
            </tr>
        </table>
    </div>
    <div id="ajaxLoading" style="display:none;"><img src="~/Images/ajax-loader.gif" /></div>
    <div class="box box-default" style="box-shadow: 0 1px 1px white;">
        <div class="box-header with-border" style="background-color:#1357d0; padding:5px; ">
            <h6 class="box-title" style="color:white;font-size:16px; font-weight: bolder;">Filter Details</h6>
            <div class="box-tools">

                <input type="button" class="btn btn-box-tool" style="color:white;font-size:11px; font-weight:bold;" value="(Click to hide...)" onclick="return change(this);" data-widget="collapse" title="(Click to hide...)" />

            </div>
        </div>
        <div class="box-body">
            <div class="box-header">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-8 col-sm-8 col-xs-8">
                            <table style="width:100%;padding-top:5px;">
                                <tr>
                                    <td style="width: 11%;text-align: right;">
                                        <label><b class="Lblmanual">Company Id </b></label>
                                    </td>
                                    <td style="width: 35%; padding-left: 1%;">
                                        @if (Model.cmp_id == "" || Model.cmp_id == null)
                                        {
                                            @Html.DropDownListFor(model => model.cmp_id, new SelectList(Model.ListCompanyPickDtl, "cmp_id", "cmp_name"), "---Select All---", new { @class = "form-control txtlbl" })
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(model => model.cmp_id, new SelectList(Model.ListCompanyPickDtl, "cmp_id", "cmp_name"), new { @class = "form-control txtlbl" })
                                        }

                                    </td>
                                    <td style="text-align: right; width: 7%;">
                                        <label><b class="Lblmanual">Bol Fm# </b></label>
                                    </td>
                                    <td style="width: 12%; padding-left: 1%;">
                                        @Html.TextBoxFor(model => model.ship_doc_id_Fm, new { @class = "form-control txtlbl", @maxlength = "50" })
                                    </td>
                                    <td style="text-align: right; width:2%;">
                                        <label><b class="Lblmanual">To </b></label>
                                    </td>
                                    <td style="width: 12%; padding-left: 1%;">
                                        @Html.TextBoxFor(model => model.ship_doc_id_To, new { @class = "form-control txtlbl", @maxlength = "50" })
                                    </td>

                                    <td style="text-align: right;">
                                        <label><b class="Lblmanual">Aloc# </b></label>
                                    </td>
                                    <td style="width: 15%; padding-left: 1%;">
                                        @Html.TextBoxFor(model => model.aloc_doc_id, new { @class = "form-control txtlbl", @maxlength = "50" })
                                    </td>
                                </tr>
                            </table>
                            <table style="border-collapse: separate;border-spacing: 0px 0.5em;width:100%;padding-top:5px;">
                                <tr>

                                    <td style="text-align: right; width: 10%;">
                                        <label><b class="Lblmanual">Ship Via </b></label>
                                    </td>
                                    <td style="width: 15%; padding-left: 1%;">
                                        @Html.TextBoxFor(model => model.ship_via_name, new { @class = "form-control txtlbl", @maxlength = "200", @autocomplete = "off" })
                                    </td>
                                    <td style="text-align: right; width: 6%;">
                                        <label><b class="Lblmanual">Status </b></label>
                                    </td>
                                    <td style="width: 10%; padding-left: 1%;">
                                        @Html.DropDownListFor(model => model.status, new SelectList(Model.ListLookUpDtl, "name", "description"), new { @class = "form-control txtlbl" })
                                    </td>
                                    <td style="text-align: right;width:8%;">
                                        <label><b class="Lblmanual">Ship  Fm Dt </b></label>
                                    </td>
                                    <td style="width: 10%; padding-left: 1%;">
                                        @Html.TextBoxFor(model => model.Ship_dt_Fm, new { @class = "form-control txtlbl", placeholder = "MM/DD/YYYY", @maxlength = "50" })
                                    </td>
                                    <td style="text-align: right; width:2%;">
                                        <label><b class="Lblmanual">To </b></label>
                                    </td>
                                    <td style="width: 10%; padding-left: 1%;">
                                        @Html.TextBoxFor(model => model.Ship_dt_To, new { @class = "form-control txtlbl", placeholder = "MM/DD/YYYY", @maxlength = "50", })
                                    </td>
                                    <td style="text-align: right;width:6.2%; ">
                                        <label><b class="Lblmanual">Cust Id </b></label>
                                    </td>
                                    <td style="width: 15%; padding-left: 1%; ">
                                        @Html.TextBoxFor(model => model.custdtl, new { @class = "form-control txtlbl", @maxlength = "200", @autocomplete = "off" })
                                        @Html.HiddenFor(model => model.cust_id)
                                    </td>
                                </tr>
                            </table>
                            <table style="border-collapse: separate;border-spacing: 0px 0.5em;width:100%;">
                                <tr>

                                    <td style="text-align: right; width: 11%;">
                                        <label><b class="Lblmanual">Ship To </b></label>
                                    </td>
                                    <td style="width: 16%; padding-left: 1%;">
                                        @Html.TextBoxFor(model => model.shiptodtl, new { @class = "form-control txtlbl", @maxlength = "200", @autocomplete = "off" })
                                        @Html.HiddenFor(model => model.ship_to)
                                    </td>

                                    <td style="text-align: right; width: 8%; ">
                                        <label><b class="Lblmanual">Ship From </b></label>
                                    </td>
                                    <td style="width: 12%; padding-left: 1%;">
                                        @Html.TextBoxFor(model => model.whsdtl, new { @class = "form-control txtlbl", @maxlength = "200", @autocomplete = "off" })
                                        @Html.HiddenFor(model => model.whs_id)
                                    </td>
                                    <td colspan="2" style="padding-left: 20px;">
                                        <button type="button" id="btnSearch" class="btn_search">Search </button>
                                        <button type="reset" id="btnClear" class="btn-Clear" style="margin-left: 1%;">Clear</button>
                                    </td>
                                </tr>
                            </table>
                            @*<table style="border-collapse: separate;border-spacing: 0px 0.5em;">
                                    <tr>


                                    </tr>
                                </table>*@
                        </div>
                        @*<div class="col-md-1 col-sm-1 col-xs-1">

                            </div>*@
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <fieldset>
                                <legend>Report Selection</legend>

                                <table style="margin-top:0px;">
                                    <tr>

                                        <td style="padding-left: 5px;font-size: 1.2em;"><input type="radio" value="Outboundpackslip" name="radio1" checked /><b> Packing Slip</b></td>
                                        <td style="padding-left: 10px;font-size: 1.2em;padding-bottom: 4px;"><input type="radio" value="BillofLadding" name="radio1" /><b> Bill Of Ladding</b></td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left: 6px;font-size: 1.2em;"><input type="radio" value="GridSummary" name="radio1" /><b> Grid Summary</b></td>       @*CR_3PL_MVC_OB_2018_0324_001  Modified by Soniya*@
                                        <td></td>
                                    </tr>




                                </table>
                                <table>
                                    <tr>
                                        <td>
                                            <b style="color:blue;font-size: 12px; margin-left:5px;">Format</b>
                                            <select id="id_format" class="btn-Format" type="button" style="margin-left:6px;width:70px; text-align:right " data-toggle="dropdown">
                                                <option>PDF</option>
                                                <option>XLS</option>
                                                @*<option>DOC</option>
                                                    <option>CSV</option>*@
                                            </select>

                                        </td>
                                        <td>
                                            <b style="color:blue;font-size: 12px; margin-left:20px;">Mode</b>
                                            <select id="id_mode" class="btn-Format" type="button" style="margin-left:6px; width:90px; text-align:right " data-toggle="dropdown">
                                                <option>VIEW</option>
                                                @*<option>EXPORT</option>*@
                                                <option>EMAIL</option>

                                            </select>


                                        </td>
                                        <td>

                                            <button type="button" id="btnprocesss" class="btn_search" style="margin-left:10px; margin-bottom:3px;">Process</button>
                                        </td>

                                    </tr>
                                </table>
                            </fieldset>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                <div id="showgrid" class="box-header" style="padding: 5px; ">
                    <div class="gridSummary">
                        <table style="width:100%">
                            <tr>
                                <td style="width:20%;text-align:right">
                                    <span style="font-size: 1.5em;color:#116b42;font-weight: bold;">
                                        Total Records:
                                    </span>
                                    <label class="totalCount" style="text-align:left">
                                        @Ordercount
                                    </label>
                                </td>
                                <td style=" width:105px;"></td>
                                <td style=" width:105px;"></td>
                                <td>
                                    @*<button type="button" id="btnClose" class="btn-Close">Close</button>*@

                                </td>
                            </tr>
                        </table>
                    </div>
                    <hr class="break" />
                    <div class="box-body">

                        <table id="GridShipInqs" class="table table-bordered table-striped">

                            <thead class="grid_backcolor">
                                <tr>
                                    <th class="grid_header_backcolor">Sel</th>
                                    <th class="grid_header_backcolor">BOL</th>
                                    <th class="grid_header_backcolor">Ship Date</th>
                                    <th class="grid_header_backcolor">Status</th>
                                    <th class="grid_header_backcolor">AlocdocId</th>
                                    <th class="grid_header_backcolor">CustId</th>
                                    <th class="grid_header_backcolor">WhsId</th>
                                    <th class="grid_header_backcolor">ShipVia</th>
                                    <th class="grid_header_backcolor">ShipTo</th>
                                    <th class="grid_header_backcolor">ShipPostDate</th>
                                    @if (Model.is_company_user == "Y") 
                                    {
                                        <th class="grid_header_backcolor">Post</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.LstOutboundShipInqdetail.Count; i++)
                                {
                                    <tr class="row-select">
                                        <td style="text-align:center"><input class="checkbox" id="chkdd_@i" name="tblcheckbox" type="checkbox" value="@Model.LstOutboundShipInqdetail[i].ship_doc_id" /></td>
                                        <td style="font-size:12px; color:black; font-weight:bold;"><a href="javascript:void(0);" class="ShippingDetail" style="text-decoration:underline; color:#034af3;" data-id="@Model.LstOutboundShipInqdetail[i].ship_doc_id">@Model.LstOutboundShipInqdetail[i].ship_doc_id</a></td>
                                        <td style="font-size:12px; color:black; font-weight:bold;">@Model.LstOutboundShipInqdetail[i].Ship_dt</td>
                                        @if (@Model.LstOutboundShipInqdetail[i].status.Trim() == "S")
                    {
                                            <td style="font-size:12px; color:black; font-weight:bold;">SHIP</td>
                                        }
                                        else if (@Model.LstOutboundShipInqdetail[i].status.Trim() == "P")
                                        {
                                            <td style="font-size:12px; color:black; font-weight:bold;">POST</td>
                                        }
                                        @*<td style="font-size:12px; color:black; font-weight:bold;">@Model.LstOutboundShipInqdetail[i].status</td>*@
                                        <td style="font-size:12px; color:black; font-weight:bold; ">@Model.LstOutboundShipInqdetail[i].aloc_doc_id</td>
                                        <td style="font-size:12px; color:black; font-weight:bold;">@Model.LstOutboundShipInqdetail[i].cust_id</td>
                                        <td style="font-size:12px; color:black; font-weight:bold;">@Model.LstOutboundShipInqdetail[i].whs_id</td>
                                        <td style="font-size:12px; color:black; font-weight:bold;">@Model.LstOutboundShipInqdetail[i].ship_via_name</td>
                                        <td style="font-size:12px; color:black; font-weight:bold;">@Model.LstOutboundShipInqdetail[i].ship_to</td>
                                        <td style="font-size:12px; color:black; font-weight:bold;">@Model.LstOutboundShipInqdetail[i].ship_post_dt</td>
                                        @if (Model.is_company_user == "Y") //CR_3PL_MVC _2018_0316_005
                                        {
                                            if (@Model.LstOutboundShipInqdetail[i].ship_post_dt == "" || @Model.LstOutboundShipInqdetail[i].ship_post_dt == null)
                                            {
                                                <td>
                                                    <a href="javascript:void(0);" style="text-decoration:underline; color: red;font-size:12px;" class="ShipPostDetail" data-id1="@Model.LstOutboundShipInqdetail[i].cmp_id" data-id="@Model.LstOutboundShipInqdetail[i].ship_doc_id" data-id2="@Model.LstOutboundShipInqdetail[i].ship_post_dt" data-id3="@Model.LstOutboundShipInqdetail[i].Ship_dt"><span style="font-size: 18px;"></span><b>Post</b></a>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <span style="color :green;font-size:12px; font-weight:bold;"><b>Posted</b></span>
                                                    <a href="javascript:void(0);" style="text-decoration:underline; color: red;font-size:12px;" class="ShipUnPostDetail" data-id1="@Model.LstOutboundShipInqdetail[i].cmp_id" data-id="@Model.LstOutboundShipInqdetail[i].ship_doc_id" data-id2="@Model.LstOutboundShipInqdetail[i].ship_post_dt" data-id3="@Model.LstOutboundShipInqdetail[i].Ship_dt"><span style="font-size: 18px;"></span><b>UnPost</b></a>
                                                </td>
                                            }
                                        }
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="width: 1000px; height: 650px;">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" style="margin-top: -38px;" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div id="load" class="modal-body">

                            </div>

                        </div>
                    </div>
                </div>
}

<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content" style="width: 243%;left:-281px;">
            <div id='myModalContent' style="width: 100%; height: 700px;"></div>
        </div>
    </div>

</div>
<div id='myModalEmail' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content" style="width: 198%; left:-160px;">
            <div id='myModalEmailContent' style="width: 100%; height: 700px;"></div>
        </div>
    </div>

</div>
<div id='myModalPost' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content" style="width: 250%; left:-365px;">
            <div id='myModalContentPost' style="width: 100%; height: 650px;"></div>
        </div>
    </div>

</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="~/Scripts/AutoComplete/jquery-ui-1.10.4.custom.min.js"></script>
<script src="~/Scripts/DateTimePicker/jquery.datetimepicker.full.min.js"></script>
<script src="~/Scripts/sweetalert.js"></script>
<script type="text/javascript">

    function change(el) {
        if (el.value === "(Click to hide...)")
            el.value = "(Click to show...)";
        else
            el.value = "(Click to hide...)";
    }
    $('#Ship_dt_Fm').datetimepicker({
        timepicker: false,
        step: 15, format: 'm-d-Y'
    });
    $('#Ship_dt_To').datetimepicker({
        timepicker: false,
        step: 15, format: 'm-d-Y'
    });
    var cmp_id = $("#cmp_id").val();
    var TeamDetailPostBackShipPostURL = '/OutboundShipInq/ShipPost';
    $(function () {
        $('#GridShipInqs tbody').on('click', '.ShipPostDetail', function () {
        //$(".ShipPostDetail").click(function () {
            debugger
            var $buttonClicked = $(this);
            var CmpId = $buttonClicked.attr('data-id1');
            var ShipDocId = $buttonClicked.attr('data-id');
            var ShipPostdt = $buttonClicked.attr('data-id2');
            var Shipdt = $buttonClicked.attr('data-id3');
            var p_str_cmp_id = $('#cmp_id').val();
            var p_str_ship_docId_Fm = $('#ship_doc_id_Fm').val();
            var p_str_ship_docId_To = $('#ship_doc_id_To').val();
            var p_str_ship_dt_frm = $('#Ship_dt_Fm').val();
            var p_str_ship_dt_to = $('#Ship_dt_To').val();
            var p_str_CustId = $('#cust_id').val();
            var p_str_AlocId = $('#aloc_doc_id').val();
            var p_str_Shipto = $('#ship_to').val();
            var p_str_ship_via_name = $('#ship_via_name').val();
            var p_str_status = $('#status').val();
            var p_str_Whsid = $('#whs_id').val();
            var p_str_screentitle = "Shipping Post";

            $.ajax({
                type: "GET",
                url: '@Url.Content("~/OutboundShipInq/OB_INQ_HDR_DATA")',
                data: {
                    "p_str_cmp_id": p_str_cmp_id, "p_str_ship_docId_Fm": p_str_ship_docId_Fm, "p_str_ship_docId_To": p_str_ship_docId_To, "p_str_ship_dt_frm": p_str_ship_dt_frm, "p_str_ship_dt_to": p_str_ship_dt_to, "p_str_CustId": p_str_CustId, "p_str_AlocId": p_str_AlocId,
                    "p_str_Shipto": p_str_Shipto,
                    "p_str_ship_via_name": p_str_ship_via_name,
                    "p_str_Whsid": p_str_Whsid,
                    "p_str_status": p_str_status,
                    "p_str_screentitle": p_str_screentitle
                },
                dataType: "json",
                success: function (e) {
                    //alert(e)
                },

            });
            debugger
            if (ShipPostdt == "") {
                var options = { "backdrop": "static", keyboard: true };
                var windowHeight = $(window).height();
                var windowWidth = $(window).width();
                var boxHeight = $('.modal-content').height();
                var boxWidth = $('.modal').width();
                var boxContent = $('.modal-content').width();
                debugger
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackShipPostURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "CmpId": CmpId, "ShipDocId": ShipDocId, "Shipdt": Shipdt },
                    datatype: "json",

                    success: function (data) {
                        $('#myModalContentPost').html(data);
                        $('#myModalPost').modal(options);
                        $('#myModalPost').modal('show');
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            }
            else {
                swal("", "BOL# already posted", "")
            }
        });
        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });
    });
    var cmp_id = $("#cmp_id").val();
    var TeamDetailPostBackShipUnPostURL = '/OutboundShipInq/ShipUnPost';
    $(function () {
        $('#GridShipInqs tbody').on('click', '.ShipUnPostDetail', function () {
        //$(".ShipPostDetail").click(function () {
            debugger
            var $buttonClicked = $(this);
            var CmpId = $buttonClicked.attr('data-id1');
            var ShipDocId = $buttonClicked.attr('data-id');
            var ShipPostdt = $buttonClicked.attr('data-id2');
            var Shipdt = $buttonClicked.attr('data-id3');
            var p_str_cmp_id = $('#cmp_id').val();
            var p_str_ship_docId_Fm = $('#ship_doc_id_Fm').val();
            var p_str_ship_docId_To = $('#ship_doc_id_To').val();
            var p_str_ship_dt_frm = $('#Ship_dt_Fm').val();
            var p_str_ship_dt_to = $('#Ship_dt_To').val();
            var p_str_CustId = $('#cust_id').val();
            var p_str_AlocId = $('#aloc_doc_id').val();
            var p_str_Shipto = $('#ship_to').val();
            var p_str_ship_via_name = $('#ship_via_name').val();
            var p_str_status = $('#status').val();
            var p_str_Whsid = $('#whs_id').val();
            var p_str_screentitle = "Shipping UnPost";

            $.ajax({
                type: "GET",
                url: '@Url.Content("~/OutboundShipInq/OB_INQ_HDR_DATA")',
                data: {
                    "p_str_cmp_id": p_str_cmp_id, "p_str_ship_docId_Fm": p_str_ship_docId_Fm, "p_str_ship_docId_To": p_str_ship_docId_To, "p_str_ship_dt_frm": p_str_ship_dt_frm, "p_str_ship_dt_to": p_str_ship_dt_to, "p_str_CustId": p_str_CustId, "p_str_AlocId": p_str_AlocId,
                    "p_str_Shipto": p_str_Shipto,
                    "p_str_ship_via_name": p_str_ship_via_name,
                    "p_str_Whsid": p_str_Whsid,
                    "p_str_status": p_str_status,
                    "p_str_screentitle": p_str_screentitle
                },
                dataType: "json",
                success: function (e) {
                    //alert(e)
                },

            });
            debugger
                var options = { "backdrop": "static", keyboard: true };
                var windowHeight = $(window).height();
                var windowWidth = $(window).width();
                var boxHeight = $('.modal-content').height();
                var boxWidth = $('.modal').width();
                var boxContent = $('.modal-content').width();
                debugger
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackShipUnPostURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "CmpId": CmpId, "ShipDocId": ShipDocId, "Shipdt": Shipdt, "screentitle": p_str_screentitle, "ShipPostdt": ShipPostdt },
                    datatype: "json",

                    success: function (data) {
                        $('#myModalContentPost').html(data);
                        $('#myModalPost').modal(options);
                        $('#myModalPost').modal('show');
                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });          
        });
        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });
    });
    $("#btnSearch").click(function () {
        var cmp_id = $("#cmp_id").val();
        if (cmp_id == "") {
            //not2("Please Select The Company.")
            sweetAlert("", "Please Select The Company.", "");
            $('#cmp_id').focus();
            $('body,html').animate({ scrollTop: 0 }, 0);
            er = 1;
            return false;
        }
        else {
            var p_str_cmp_id = $('#cmp_id').val();
            var p_str_ship_docId_Fm = $('#ship_doc_id_Fm').val();
            var p_str_ship_docId_To = $('#ship_doc_id_To').val();
            var p_str_ship_dt_frm = $('#Ship_dt_Fm').val();
            var p_str_ship_dt_to = $('#Ship_dt_To').val();
            var p_str_CustId = $('#cust_id').val();
            var p_str_AlocId = $('#aloc_doc_id').val();
            var p_str_Shipto = $('#ship_to').val();
            var p_str_ship_via_name = $('#ship_via_name').val();
            var p_str_status = $('#status').val();
            var p_str_Whsid = $('#whs_id').val();
            $("#ajaxLoading").show();
            $.ajax({
                type: "GET",
                url: '@Url.Content("~/OutboundShipInq/OutboundShipInqDetail")',
                data: {
                    "p_str_cmp_id": p_str_cmp_id, "p_str_ship_docId_Fm": p_str_ship_docId_Fm, "p_str_ship_docId_To": p_str_ship_docId_To, "p_str_ship_dt_frm": p_str_ship_dt_frm, "p_str_ship_dt_to": p_str_ship_dt_to, "p_str_CustId": p_str_CustId, "p_str_AlocId": p_str_AlocId,
                    "p_str_Shipto": p_str_Shipto,
                    "p_str_ship_via_name": p_str_ship_via_name,
                    "p_str_Whsid": p_str_Whsid,
                    "p_str_status": p_str_status
                },
                dataType: 'html',
                success: function (e) {
                    $("#ajaxLoading").hide();
                    $('#showgrid').html("");
                    $('#showgrid').html(e);
                },

            })
        }
    });

    $("#shiptodtl").autocomplete({

        matchContains: true,
        minChars: 1,
        mustMatch: true,
        source: '/OutboundShipInq/EShipGetShipToDetailss?cmpid=' + $('#cmp_id').val() + "&", //'@Url.Action("SearchActivity")'
        select: function (event, ui) {
            var UID = $("#shipto_id").val(ui.item.shipto_id);

        }
    });
    $("#whsdtl").autocomplete({

        matchContains: true,
        minChars: 1,
        mustMatch: true,
        source: '/OutboundShipInq/EShipGetShipFromDetailss?cmpid=' + $('#cmp_id').val() + "&", //'@Url.Action("SearchActivity")'
        select: function (event, ui) {
            var UID = $("#whs_id").val(ui.item.whs_id);

        }
    });

    $("#custdtl").autocomplete({
        matchContains: true,
        minChars: 1,
        mustMatch: true,
        source: "/OutboundShipInq/EShipGetCustDetails?cmpid=" + $('#cmp_id').val() + "&",
        select: function (event, ui) {
            var UID = $("#cust_id").val(ui.item.cust_id);

        }
    });

    var cmp_id = $("#cmp_id").val();
    var TeamDetailPostBackURL = '/OutboundShipInq/ShippingDetail';
    $(function () {
        $(".ShippingDetail").click(function () {
            var $buttonClicked = $(this);
            var shipdocid = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { "shipdocid": shipdocid, "cmp_id": cmp_id },
                datatype: "json",
                success: function (data) {
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');

                },
                error: function () {
                    //alert("Dynamic content load failed.");
                    sweetAlert("", "Dynamic content load failed.", "");
                }
            });
        });
        $("#closbtn").click(function () {
            $('#myModal').modal('hide');
        });
    });

</script>
<script>
    function GetRes() {
        var SelectedRow = [];
        var checkboxIDArray = [];
        var var_name = $("input[name='radio1']:checked").val();
        if (var_name == "GridSummary") {
            var p_str_radio = var_name;
            var p_str_cmp_id = $('#cmp_id').val();
            var p_str_ship_docId_Fm = $('#ship_doc_id_Fm').val();
            var p_str_ship_docId_To = $('#ship_doc_id_To').val();
            var p_str_ship_dt_frm = $('#Ship_dt_Fm').val();
            var p_str_ship_dt_to = $('#Ship_dt_To').val();
            var p_str_CustId = $('#cust_id').val();
            var p_str_AlocId = $('#aloc_doc_id').val();
            var p_str_Shipto = $('#ship_to').val();
            var p_str_ship_via_name = $('#ship_via_name').val();
            var p_str_status = $('#status').val();
            var p_str_Whsid = $('#whs_id').val();
            window.open('ShowReport', 'OutboundShipInq', "toolbar=no, scrollbars=yes, resizable=yes, top=200, left=500, width=950, height=700", 'ShowReport')
            $.ajax({
                url: '@Url.Action("GetShipReqRptDtls", "OutboundShipInq")',
                type: 'GET',
                dataType: 'json',
                data: {
                    SelectedID: SelectdID, p_str_cmp_id: p_str_cmp_id, p_str_radio: p_str_radio, p_str_ship_docId_Fm: p_str_ship_docId_Fm, p_str_ship_docId_To: p_str_ship_docId_To, p_str_ship_dt_frm: p_str_ship_dt_frm,
                    p_str_ship_dt_to: p_str_ship_dt_to, p_str_CustId: p_str_CustId, p_str_AlocId: p_str_AlocId, p_str_Shipto: p_str_Shipto, p_str_ship_via_name: p_str_ship_via_name, p_str_status: p_str_status,
                    p_str_Whsid: p_str_Whsid
                },//'collections='+SelectedRow,
                cache: false,
                success: function (data) {
                    if (data > 0) {
                        $("input[name='tblcheckbox']").prop("checked", false);
                        window.open('ShowReport', 'OutboundShipInq', "toolbar=no, scrollbars=yes, resizable=yes, top=200, left=500, width=950, height=700", 'ShowReport' + SelectedID)

                    }

                }
            });
        }
        else {
            var numberOfCheckboxes = $("input[name='tblcheckbox']:checked").length;
            if (numberOfCheckboxes == 0) {

                // not2("Please select the Record to Print.");
                sweetAlert("", "Please select the Record to Print.", "");
            }

            else {
                $("input[name='tblcheckbox']:checked").each(function () {
                    var check = $(this);
                    if (check.is(':checked')) {
                        checkboxIDArray.push(check.attr('id'));
                        SelectedRow.push(check.val());
                    }
                });
                var Count = $("input[name='tblcheckbox']:checked").length;
                if (Count > 0) {
                    var SelectdID = '';
                    $.each(SelectedRow, function (i, v) {

                        if (SelectdID == '')
                            SelectdID = v;
                        else
                            SelectdID = SelectdID + ',' + v;

                    });
                    var var_name = $("input[name='radio1']:checked").val();
                    var p_str_cmpid = $('#cmp_id').val();
                    var p_str_radio = var_name;


                    window.open('ShowReport', 'OutboundShipInq', "toolbar=no, scrollbars=yes, resizable=yes, top=200, left=500, width=950, height=700", 'ShowReport' + SelectdID)
                    $.ajax({
                        url: '@Url.Action("GetShipInqRpt", "OutboundShipInq")',
                        type: 'GET',
                        dataType: 'json',
                        data: {
                            SelectedID: SelectdID, p_str_cmpid: p_str_cmpid, p_str_radio: p_str_radio

                        },//'collections='+SelectedRow,
                        cache: false,
                        success: function (data) {
                            if (data > 0) {
                                $("input[name='tblcheckbox']").prop("checked", false);
                                window.open('ShowReport', 'OutboundShipInq', "toolbar=no, scrollbars=yes, resizable=yes, top=200, left=500, width=950, height=700", 'ShowReport' + SelectedID)

                            }
                            $("#report_selection").val('');
                        }
                    });

                }
                else {

                    $("input:checkbox").each(function () {
                        var check = $(this);
                        if (check.is(':checked')) {
                            this.checked = !this.checked;
                        }
                    });

                }

            }
        }
    }
</script>

<script>

    $("#btnprocesss").click(function () {
        debugger
        var getFormat = $('#id_format').find(":selected").text();
        var getMode = $('#id_mode').find(":selected").text();

        if (getFormat == 'XLS' && getMode == 'VIEW') {
            var type = "Excel";
            var SelectedRow = [];
            var checkboxIDArray = [];
            var var_name = $("input[name='radio1']:checked").val();
            if (var_name == "GridSummary") {
                var p_str_radio = var_name;
                var p_str_cmp_id = $('#cmp_id').val();
                var p_str_ship_docId_Fm = $('#ship_doc_id_Fm').val();
                var p_str_ship_docId_To = $('#ship_doc_id_To').val();
                var p_str_ship_dt_frm = $('#Ship_dt_Fm').val();
                var p_str_ship_dt_to = $('#Ship_dt_To').val();
                var p_str_CustId = $('#cust_id').val();
                var p_str_AlocId = $('#aloc_doc_id').val();
                var p_str_Shipto = $('#ship_to').val();
                var p_str_ship_via_name = $('#ship_via_name').val();
                var p_str_status = $('#status').val();
                var p_str_Whsid = $('#whs_id').val();
                window.location.replace("/OutboundShipInq/ShowReport? &SelectedID=" + SelectdID + '&p_str_cmpid=' + p_str_cmp_id + '&p_str_radio=' + p_str_radio
+ '&p_str_ship_docId_Fm=' + p_str_ship_docId_Fm + '&p_str_ship_docId_To=' + p_str_ship_docId_To + '&p_str_ship_dt_frm=' + p_str_ship_dt_frm + '&p_str_ship_dt_to=' + p_str_ship_dt_to
+ '&p_str_CustId=' + p_str_CustId + '&p_str_AlocId=' + p_str_AlocId + '& p_str_Shipto=' + p_str_Shipto + '&p_str_ship_via_name = ' + p_str_ship_via_name + '& p_str_status=' + p_str_status + '& p_str_Whsid=' + p_str_Whsid + '&type=' + type)
            }
            else {
                var numberOfCheckboxes = $("input[name='tblcheckbox']:checked").length;
                if (numberOfCheckboxes == 0) {

                    // not2("Please select the Record to Print.");
                    sweetAlert("", "Please select the Record to Print.", "");
                }

                else {
                    $("input[name='tblcheckbox']:checked").each(function () {
                        var check = $(this);
                        if (check.is(':checked')) {
                            checkboxIDArray.push(check.attr('id'));
                            SelectedRow.push(check.val());
                        }
                    });
                    var Count = $("input[name='tblcheckbox']:checked").length;
                    if (Count > 0) {
                        var SelectdID = '';
                        $.each(SelectedRow, function (i, v) {

                            if (SelectdID == '')
                                SelectdID = v;
                            else
                                SelectdID = SelectdID + ',' + v;

                        });
                        var var_name = $("input[name='radio1']:checked").val();
                        var p_str_cmpid = $('#cmp_id').val();
                        var p_str_radio = var_name;

                        window.location.replace("/OutboundShipInq/ShowReport? &SelectedID=" + SelectdID + '&p_str_cmpid=' + p_str_cmpid + '&p_str_radio=' + p_str_radio
+ '&p_str_ship_docId_Fm=' + p_str_ship_docId_Fm + '&p_str_ship_docId_To=' + p_str_ship_docId_To + '&p_str_ship_dt_frm=' + p_str_ship_dt_frm + '&p_str_ship_dt_to=' + p_str_ship_dt_to
+ '&p_str_CustId=' + p_str_CustId + '&p_str_AlocId=' + p_str_AlocId + '& p_str_Shipto=' + p_str_Shipto + '&p_str_ship_via_name = ' + p_str_ship_via_name + '& p_str_status=' + p_str_status + '& p_str_Whsid=' + p_str_Whsid + '&type=' + type)

                    }
                    else {

                        $("input:checkbox").each(function () {
                            var check = $(this);
                            if (check.is(':checked')) {
                                this.checked = !this.checked;
                            }
                        });

                    }

                }
            }

        }

        if (getFormat == 'PDF' && getMode == 'VIEW') {
            var type = "PDF";
            var SelectedRow = [];
            var checkboxIDArray = [];
            var var_name = $("input[name='radio1']:checked").val();
            if (var_name == "GridSummary") {
                var p_str_radio = var_name;
                var p_str_cmp_id = $('#cmp_id').val();
                var p_str_ship_docId_Fm = $('#ship_doc_id_Fm').val();
                var p_str_ship_docId_To = $('#ship_doc_id_To').val();
                var p_str_ship_dt_frm = $('#Ship_dt_Fm').val();
                var p_str_ship_dt_to = $('#Ship_dt_To').val();
                var p_str_CustId = $('#cust_id').val();
                var p_str_AlocId = $('#aloc_doc_id').val();
                var p_str_Shipto = $('#ship_to').val();
                var p_str_ship_via_name = $('#ship_via_name').val();
                var p_str_status = $('#status').val();
                var p_str_Whsid = $('#whs_id').val();


                window.open('ShowReport?SelectedID=' + SelectdID + '&p_str_cmpid=' + p_str_cmp_id + '&p_str_radio=' + p_str_radio
+ '&p_str_ship_docId_Fm=' + p_str_ship_docId_Fm + '&p_str_ship_docId_To=' + p_str_ship_docId_To + '&p_str_ship_dt_frm=' + p_str_ship_dt_frm + '&p_str_ship_dt_to=' + p_str_ship_dt_to
+ '&p_str_CustId=' + p_str_CustId + '&p_str_AlocId=' + p_str_AlocId + '& p_str_Shipto=' + p_str_Shipto + '&p_str_ship_via_name = ' + p_str_ship_via_name + '& p_str_status=' + p_str_status + '& p_str_Whsid=' + p_str_Whsid + '&type=' + type, 'VasInquiry', "toolbar=no, scrollbars=yes, resizable=yes, top=200, left=500, width=950, height=700", 'ShowReport' + SelectdID)



            }
            else {
                var numberOfCheckboxes = $("input[name='tblcheckbox']:checked").length;
                if (numberOfCheckboxes == 0) {

                    // not2("Please select the Record to Print.");
                    sweetAlert("", "Please select the Record to Print.", "");
                }

                else {
                    $("input[name='tblcheckbox']:checked").each(function () {
                        var check = $(this);
                        if (check.is(':checked')) {
                            checkboxIDArray.push(check.attr('id'));
                            SelectedRow.push(check.val());
                        }
                    });
                    var Count = $("input[name='tblcheckbox']:checked").length;
                    if (Count > 0) {
                        var SelectdID = '';
                        $.each(SelectedRow, function (i, v) {

                            if (SelectdID == '')
                                SelectdID = v;
                            else
                                SelectdID = SelectdID + ',' + v;

                        });
                        var var_name = $("input[name='radio1']:checked").val();
                        var p_str_cmpid = $('#cmp_id').val();
                        var p_str_radio = var_name;

                        window.open('ShowReport?SelectedID=' + SelectdID + '&p_str_cmpid=' + p_str_cmpid + '&p_str_radio=' + p_str_radio
+ '&p_str_ship_docId_Fm=' + p_str_ship_docId_Fm + '&p_str_ship_docId_To=' + p_str_ship_docId_To + '&p_str_ship_dt_frm=' + p_str_ship_dt_frm + '&p_str_ship_dt_to=' + p_str_ship_dt_to
+ '&p_str_CustId=' + p_str_CustId + '&p_str_AlocId=' + p_str_AlocId + '& p_str_Shipto=' + p_str_Shipto + '&p_str_ship_via_name = ' + p_str_ship_via_name + '& p_str_status=' + p_str_status + '& p_str_Whsid=' + p_str_Whsid + '&type=' + type, 'VasInquiry', "toolbar=no, scrollbars=yes, resizable=yes, top=200, left=500, width=950, height=700", 'ShowReport' + SelectdID)


                    }
                    else {

                        $("input:checkbox").each(function () {
                            var check = $(this);
                            if (check.is(':checked')) {
                                this.checked = !this.checked;
                            }
                        });

                    }

                }
            }

        }
        if (getFormat == 'PDF' && getMode == 'EMAIL') {
            var options = { "backdrop": "static", keyboard: true };

            var TeamDetailPostemailBackURL = '/OutboundShipInq/EmailShowReport';
            var type = "PDF";
            var SelectedRow = [];
            var checkboxIDArray = [];
            var var_name = $("input[name='radio1']:checked").val();
            if (var_name == "GridSummary") {
                var p_str_radio = var_name;
                var p_str_cmp_id = $('#cmp_id').val();
                var p_str_ship_docId_Fm = $('#ship_doc_id_Fm').val();
                var p_str_ship_docId_To = $('#ship_doc_id_To').val();
                var p_str_ship_dt_frm = $('#Ship_dt_Fm').val();
                var p_str_ship_dt_to = $('#Ship_dt_To').val();
                var p_str_CustId = $('#cust_id').val();
                var p_str_AlocId = $('#aloc_doc_id').val();
                var p_str_Shipto = $('#ship_to').val();
                var p_str_ship_via_name = $('#ship_via_name').val();
                var p_str_status = $('#status').val();
                var p_str_Whsid = $('#whs_id').val();
                //                window.open('ShowReport?SelectedID=' + SelectdID + '&p_str_cmp_id=' + p_str_cmp_id + '&p_str_radio=' + p_str_radio
                //+ '&p_str_ship_docId_Fm=' + p_str_ship_docId_Fm + '&p_str_ship_docId_To=' + p_str_ship_docId_To + '&p_str_ship_dt_frm=' + p_str_ship_dt_frm + '&p_str_ship_dt_to=' + p_str_ship_dt_to
                //+ '&p_str_CustId=' + p_str_CustId + '&p_str_AlocId=' + p_str_AlocId + '& p_str_Shipto=' + p_str_Shipto + '&p_str_ship_via_name = ' + p_str_ship_via_name + '& p_str_status=' + p_str_status + '& p_str_Whsid=' + p_str_Whsid + '&type=' + type, 'VasInquiry', "toolbar=no, scrollbars=yes, resizable=yes, top=200, left=500, width=950, height=700", 'ShowReport' + SelectdID)

                $.ajax({
                    type: "GET",
                    url: TeamDetailPostemailBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: {
                        "SelectedID": SelectdID, "p_str_cmp_id": p_str_cmp_id, "p_str_radio": p_str_radio, "p_str_ship_docId_Fm": p_str_ship_docId_Fm,
                        "p_str_ship_docId_To": p_str_ship_docId_To, "p_str_ship_dt_frm": p_str_ship_dt_frm, "p_str_ship_dt_to": p_str_ship_dt_to, "p_str_CustId": p_str_CustId,
                        "p_str_AlocId": p_str_AlocId, "p_str_Shipto": p_str_Shipto, "p_str_ship_via_name": p_str_ship_via_name, "p_str_status": p_str_status, "p_str_Whsid": p_str_Whsid, "type": type
                    },
                    datatype: "json",
                    success: function (data) {
                        $('#myModalEmailContent').html(data);
                        $('#myModalEmail').modal(options);
                        $('#myModalEmail').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });

            }
            else {
                var numberOfCheckboxes = $("input[name='tblcheckbox']:checked").length;
                if (numberOfCheckboxes == 0) {

                    // not2("Please select the Record to Print.");
                    sweetAlert("", "Please select the Record to Print.", "");
                }

                else {
                    $("input[name='tblcheckbox']:checked").each(function () {
                        var check = $(this);
                        if (check.is(':checked')) {
                            checkboxIDArray.push(check.attr('id'));
                            SelectedRow.push(check.val());
                        }
                    });
                    var Count = $("input[name='tblcheckbox']:checked").length;
                    if (Count > 0) {
                        var SelectdID = '';
                        $.each(SelectedRow, function (i, v) {

                            if (SelectdID == '')
                                SelectdID = v;
                            else
                                SelectdID = SelectdID + ',' + v;

                        });
                        var var_name = $("input[name='radio1']:checked").val();
                        var p_str_cmpid = $('#cmp_id').val();
                        var p_str_radio = var_name;

                        //                        window.open('ShowReport?SelectedID=' + SelectdID + '&p_str_cmp_id=' + p_str_cmpid + '&p_str_radio=' + p_str_radio
                        //+ '&p_str_ship_docId_Fm=' + p_str_ship_docId_Fm + '&p_str_ship_docId_To=' + p_str_ship_docId_To + '&p_str_ship_dt_frm=' + p_str_ship_dt_frm + '&p_str_ship_dt_to=' + p_str_ship_dt_to
                        //+ '&p_str_CustId=' + p_str_CustId + '&p_str_AlocId=' + p_str_AlocId + '& p_str_Shipto=' + p_str_Shipto + '&p_str_ship_via_name = ' + p_str_ship_via_name + '& p_str_status=' + p_str_status + '& p_str_Whsid=' + p_str_Whsid + '&type=' + type, 'VasInquiry', "toolbar=no, scrollbars=yes, resizable=yes, top=200, left=500, width=950, height=700", 'ShowReport' + SelectdID)

                        $.ajax({
                            type: "GET",
                            url: TeamDetailPostemailBackURL,
                            contentType: "application/json; charset=utf-8",
                            data: {
                                "SelectedID": SelectdID, "p_str_cmp_id": p_str_cmpid, "p_str_radio": p_str_radio, "p_str_ship_docId_Fm": p_str_ship_docId_Fm,
                                "p_str_ship_docId_To": p_str_ship_docId_To, "p_str_ship_dt_frm": p_str_ship_dt_frm, "p_str_ship_dt_to": p_str_ship_dt_to, "p_str_CustId": p_str_CustId,
                                "p_str_AlocId": p_str_AlocId, "p_str_Shipto": p_str_Shipto, "p_str_ship_via_name": p_str_ship_via_name, "p_str_status": p_str_status, "p_str_Whsid": p_str_Whsid, "type": type
                            },
                            datatype: "json",
                            success: function (data) {
                                $('#myModalEmailContent').html(data);
                                $('#myModalEmail').modal(options);
                                $('#myModalEmail').modal('show');

                            },
                            error: function () {
                                alert("Dynamic content load failed.");
                            }
                        });
                    }
                    else {

                        $("input:checkbox").each(function () {
                            var check = $(this);
                            if (check.is(':checked')) {
                                this.checked = !this.checked;
                            }
                        });

                    }

                }
            }

        }
    })
    $('#GridShipInqs').DataTable({
        "paging": true,
        "pageLength": 50,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": true,
        "scrollCollapse": true,
        "sScrollY": "460px",
        "sScrollX": "100%",
    })
</script>
<script type="text/javascript">
    $("#btnClose").click(function () {
        debugger
        var p_str_screentitle = $('#screentitle').val();
        var p_str_cmpid = $('#g_str_tmp_cmp_id').val();

        var url = '@Url.Action("Dashboard", "Dashboard")';
        url += '?id=' + p_str_cmpid;
        window.location.href = url;
    })



    $("#btnCloseecom").click(function () {
        debugger
        var p_str_screentitle = $('#screentitle').val();
        var p_str_cmpid = $('#g_str_tmp_cmp_id').val();

        var url = '@Url.Action("ECommDashBoard", "ECommDashBoard")';
        url += '?id=' + p_str_cmpid;
        window.location.href = url;
    })

    $("#btnCloseB2B").click(function () {
        debugger
        var p_str_screentitle = $('#screentitle').val();
        var p_str_cmpid = $('#g_str_tmp_cmp_id').val();
        var url = '@Url.Action("DashboardB2B", "DashboardB2B")';
        url += '?id=' + p_str_cmpid;
        window.location.href = url;
    })

    $("#btnDashboard").click(function () {
        var p_str_cmpid = $('#cmp_id').val();
        var url = '@Url.Action("Dashboard", "Dashboard")';      //CR_3PL_MVC_BL_2018_0313_001 Added by Soniya
        url += '?id=' + p_str_cmpid;
        window.location.href = url;
    })
    $(function () {
        $('#cmp_id').change(function () {
            debugger;
            var p_str_cmp_id = $(this).find(":selected").val();
            $.ajax({
                url: '@Url.Action("CmpIdOnChange", "objOutboundShipInq")',
                type: 'GET',
                cache: false,
                data: {
                    "p_str_cmp_id": p_str_cmp_id
                },

                dataType: "json",
                success: function (e) {
                    $.each(e, function () {
                        $("#tmp_cmp_id").val(this.l_str_tmp_cmp_id);
                    });
                },
            });
        });

    });

</script>
@{Html.RenderPartial("~/Views/Shared/_Popupnotification.cshtml");}


